<IfModule mod_rewrite.c>
Options +FollowSymLinks
RewriteEngine On

ErrorDocument 404 /404.php

RewriteCond %{REQUEST_FILENAME} ^(.*)/index\.(php|html)$
RewriteRule ^(.*)index\.php(.*)$ /$1$2 [R=301,L]

RewriteCond %{HTTP_HOST}	^www\.(.*)	[NC]
RewriteRule ^(.*)$ http://%1/$1	[R=301,L]

</IfModule>


<IfModule mod_dir.c>
DirectoryIndex index/ index.php
</IfModule>

<IfModule mod_expires.c>
ExpiresActive on
ExpiresByType image/jpeg "access plus 3 day"
ExpiresByType image/gif "access plus 3 day"
ExpiresByType image/png "access plus 3 day"
ExpiresByType text/css "access plus 3 day"
ExpiresByType application/javascript "access plus 3 day" 
</IfModule>