<IfModule mod_rewrite.c>
Options +FollowSymLinks
RewriteEngine On

ErrorDocument 404 /404.php

#RewriteCond %{HTTPS} =off
#RewriteCond %{REQUEST_URI} !robots.txt
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [QSA,L]

RewriteCond %{REQUEST_FILENAME} ^(.*)/index\.(php|html)$
RewriteRule ^(.*)index\.php(.*)$ /$1$2 [R=301,L]

RewriteCond %{HTTP_HOST}	^www\.(.*)	[NC]
RewriteRule ^(.*)$ http://%1/$1	[R=301,L]


Redirect 301 	/sajt-vizitka 	https://web-comp.ru/promo-site
Redirect 301 	/blog/besplatniy-hosting-gde-podvoh	https://web-comp.ru/blog
Redirect 301 	/blog/bistryi-sposob-podnyat-koversiyu-na-saite	https://web-comp.ru/blog
Redirect 301 	/blog/chto-takoe-domen	https://web-comp.ru/blog
Redirect 301 	/blog/dlya-chego-nuzhno-prototipirovanie	https://web-comp.ru/blog
Redirect 301 	/blog/gde-vzyat-kartinki-dlya-sajta-esli-net-dizajnera-i-fotografa	https://web-comp.ru/blog
Redirect 301 	/blog/kak-kupit-otlichniy-domen	https://web-comp.ru/blog
Redirect 301 	/blog/kak-nastroit-priem-platejei-cherez-sait	https://web-comp.ru/blog
Redirect 301 	/blog/kak-obshatsa-s-klientom-v-online-chate	https://web-comp.ru/blog
Redirect 301 	/blog/kak-pravilno-vjbrat-domen	https://web-comp.ru/blog
Redirect 301 	/blog/kak-sekonomit-na-sozdanii-internet-magazina	https://web-comp.ru/blog
Redirect 301 	/blog/kak-sozdat-horoshiy-sait-besplatno	https://web-comp.ru/blog
Redirect 301 	/blog/kakyu-cms-vjbrat-dlya-saita	https://web-comp.ru/blog
Redirect 301 	/blog/kak-zarabotat-na-svoem-saite	https://web-comp.ru/blog
Redirect 301 	/blog/obzor-online-konsultanta-jivosite	https://web-comp.ru/blog
Redirect 301 	/blog/oshibki-pri-sozdanii-saita	https://web-comp.ru/blog
Redirect 301 	/blog/pochemy-vajen-ynikalnji-sait-dlya-biznesa	https://web-comp.ru/blog
Redirect 301 	/blog/sovet-kak-vibrat-hosting-chast-1	https://web-comp.ru/blog
Redirect 301 	/blog/sovet-kak-vibrat-hosting-chast-2	https://web-comp.ru/blog
Redirect 301 	/blog/sovet-kak-vibrat-hosting-chast-3	https://web-comp.ru/blog
Redirect 301 	/blog/sovet-kak-vibrat-hosting-chast-4	https://web-comp.ru/blog
Redirect 301 	/blog/sozdanie-copii-saitov	https://web-comp.ru/blog
Redirect 301 	/blog/sozdanie-internet-magazina-za-5-ryblei	https://web-comp.ru/blog
Redirect 301 	/blog/sozdanie-pervogo-saita	https://web-comp.ru/blog
Redirect 301 	/blog/sozdat-sait-samostoyatelno-ili-zakazat	https://web-comp.ru/blog
Redirect 301 	/blog/stoit-li-delat-sait-na-konstruktore	https://web-comp.ru/blog
Redirect 301 	/blog/trendj-seo-v-2018	https://web-comp.ru/blog
Redirect 301 	/blog/uzabiliti-saita-i-ego-vliyanie-na-konversiu	https://web-comp.ru/blog
Redirect 301 	/blog/v-chem-otlichie-urovney-domenov	https://web-comp.ru/blog
Redirect 301 	/hosting-dlya-saita	https://web-comp.ru/hosting
Redirect 301 	/internet-magazin	https://web-comp.ru/e-commerce
Redirect 301 	/internet-magazin/Lite	https://web-comp.ru/e-commerce
Redirect 301 	/internet-magazin/Pro	https://web-comp.ru/e-commerce/
Redirect 301 	/internet-magazin/Proplus	https://web-comp.ru/e-commerce
Redirect 301 	/internet-magazin-vjpechki	https://web-comp.ru/e-commerce
Redirect 301 	/kontakty	https://web-comp.ru/contacts
Redirect 301 	/kopirajt-dlya-sajta	https://web-comp.ru/portfolio/
Redirect 301 	/korporativnji-sait-internet-treiding	https://web-comp.ru/corporate-site/
Redirect 301 	/korporativnyj-sait-organizacii	https://web-comp.ru/corporate-site/
Redirect 301 	/korporativnyj-sait-organizacii/Lite	https://web-comp.ru/corporate-site/
Redirect 301 	/korporativnyj-sait-organizacii/Pro	https://web-comp.ru/corporate-site/
Redirect 301 	/korporativnyj-sait-organizacii/Proplus	https://web-comp.ru/corporate-site/
Redirect 301 	/landing	https://web-comp.ru/landing-page
Redirect 301 	/nastroyka-kontekstnoy-reklamy	https://web-comp.ru/promote/reklama
Redirect 301 	/o-kompanii	https://web-comp.ru/company
Redirect 301 	/personal-data	https://web-comp.ru/policy/
Redirect 301 	/portfolio/magazin-kosmetiki-i-salon-krasoty	https://web-comp.ru/portfolio/thematics/salon-krasotj/
Redirect 301 	/portfolio/magazin-stroitelnyh-materialov	https://web-comp.ru/portfolio/thematics/stroitelnje/
Redirect 301 	/portfolio/magazin-tkanei	https://web-comp.ru/portfolio/thematics/magazin-odejdj/
Redirect 301 	/portfolio/sait-baza-instruktorov-i-avtoshkol	https://web-comp.ru/portfolio/thematics/subject/
Redirect 301 	/portfolio/sait-dlya-detskogo-lagerya	https://web-comp.ru/portfolio/thematics/tyrizm/
Redirect 301 	/portfolio/sait-dlya-dostavki-pirogov	https://web-comp.ru/portfolio/thematics/restoranj/
Redirect 301 	/portfolio/sait-dlya-metalloobrabotki	https://web-comp.ru/portfolio/thematics/avtozapchasti/
Redirect 301 	/portfolio/sait-dlya-podbora-personala	https://web-comp.ru/portfolio/thematics/treningi/
Redirect 301 	/portfolio/sait-dlya-ritualnih-uslug	https://web-comp.ru/portfolio/thematics/treningi/
Redirect 301 	/portfolio/sait-dlya-servisa-apple	https://web-comp.ru/portfolio/thematics/orgtehnika/
Redirect 301 	/portfolio/sait-dlya-shkoly-yazikov	https://web-comp.ru/portfolio/thematics/treningi/
Redirect 301 	/portfolio/sait-dlya-utilizacii-othodov	https://web-comp.ru/portfolio/thematics/treningi/
Redirect 301 	/portfolio/sait-dlya-veterinarnyh-uslug	https://web-comp.ru/portfolio/thematics/zootovarj/
Redirect 301 	/portfolio/sait-dlya-zhkh	https://web-comp.ru/portfolio/thematics/treningi/
Redirect 301 	/price	https://web-comp.ru/portfolio
Redirect 301 	/prodvizhenie-sajtov	https://web-comp.ru/promote
Redirect 301 	/prodvizhenie-sajtov/seo-prodvizhenie	https://web-comp.ru/promote/seo/
Redirect 301 	/razrabotka-adaptivnogo-sajta	https://web-comp.ru/portfolio/
Redirect 301 	/razrabotka-dizajna-sajta	https://web-comp.ru/portfolio/
Redirect 301 	/sait-dlya-advokatov-i-uristov	https://web-comp.ru/portfolio/thematics/uridicheskih-yslyg/
Redirect 301 	/sait-dlya-dizajna-upakovok-tovarov	https://web-comp.ru/portfolio/thematics/tovarj-dlya-doma/
Redirect 301 	/sait-dlya-shkolj-angliskogo-yazjka	https://web-comp.ru/portfolio/thematics/treningi/
Redirect 301 	/sait-dlya-stroitelnoi-kompanii	https://web-comp.ru/portfolio/thematics/stroitelnje/
Redirect 301 	/sait-dlya-stydii-remonta	https://web-comp.ru/portfolio/thematics/stroitelnaya-tematika/
Redirect 301 	/sait-dlya-tipografii	https://web-comp.ru/portfolio/thematics/cnigi/
Redirect 301 	/sait-perevodov-s-inostrannjh-yazjkov	https://web-comp.ru/portfolio/thematics/treningi/
Redirect 301 	/sajt-dlya-malogo-biznesa	https://web-comp.ru/portfolio/thematics/treningi/
Redirect 301 	/sajt-dlya-prodazhi-tovara	https://web-comp.ru/portfolio/thematics/tovarj-dlya-doma/
Redirect 301 	/sajt-vizitka	https://web-comp.ru/promo-site/
Redirect 301 	/sajty-stroitelnoj-tematiki	https://web-comp.ru/portfolio/thematics/stroitelnje/
Redirect 301 	/smm-prodvijenie-saita-v-socialnjh-setyah	https://web-comp.ru/promote/smm
Redirect 301 	/soprovozhdenie	https://web-comp.ru/promote/
Redirect 301 	/sozdanie_sayta_dlya_avtoservisa	https://web-comp.ru/portfolio/thematics/avtoservis/
Redirect 301 	/sozdanie-internet-magazina-alkogolya	https://web-comp.ru/portfolio/thematics/fitnes/
Redirect 301 	/sozdanie-internet-magazina-detskoi-odezhdj	https://web-comp.ru/portfolio/thematics/magazin-odejdj/
Redirect 301 	/sozdanie-internet-magazina-elementov-decora	https://web-comp.ru/portfolio/thematics/stroitelnje/
Redirect 301 	/sozdanie-internet-magazina-gadjetov	https://web-comp.ru/portfolio/thematics/orgtehnika/
Redirect 301 	/sozdanie-internet-magazina-instrumentov	https://web-comp.ru/portfolio/bosh/
Redirect 301 	/sozdanie-internet-magazina-komnatnjh-rastenii	https://web-comp.ru/portfolio/gazon/
Redirect 301 	/sozdanie-internet-magazina-parket	https://web-comp.ru/portfolio/vita/
Redirect 301 	/sozdanie-internet-magazina-sportivnogo-pitaniya	https://web-comp.ru/portfolio/thematics/fitnes/
Redirect 301 	/sozdanie-internet-magazina-uvelirnoi-tematiki	https://web-comp.ru/portfolio/thematics/uvelirnji-salon/
Redirect 301 	/sozdanie-karporativnogo-portala-treiderov	https://web-comp.ru/portfolio/thematics/treningi/
Redirect 301 	/sozdanie-magazina-glushilok	https://web-comp.ru/portfolio/thematics/santehnika/
Redirect 301 	/sozdanie-magazina-zapchastei-snegohody	https://web-comp.ru/portfolio/thematics/avtozapchasti/
Redirect 301 	/sozdanie-promo-saita-gidroizolyazii	https://web-comp.ru/portfolio/wood/
Redirect 301 	/sozdanie-promo-saita-okna	https://web-comp.ru/portfolio/balconies/
Redirect 301 	/sozdanie-promo-saita-restorana	https://web-comp.ru/portfolio/thematics/restoranj/
Redirect 301 	/sozdanie-promo-saita-tipografii	https://web-comp.ru/portfolio/thematics/cnigi/
Redirect 301 	/sozdanie-saita-avto-tematiki	https://web-comp.ru/portfolio/thematics/subject/
Redirect 301 	/sozdanie-saita-dlya-stydii-krasotj	https://web-comp.ru/portfolio/thematics/salon-krasotj/
Redirect 301 	/sozdanie-saita-po-dostavke-edj	https://web-comp.ru/portfolio/thematics/restoranj/
Redirect 301 	/sozdanie-saita-po-remonty-printerov	https://web-comp.ru/portfolio/thematics/orgtehnika/
Redirect 301 	/sozdanie-saita-stroitelnoi-tematiki	https://web-comp.ru/portfolio/thematics/stroitelnje/
Redirect 301 	/sozdanie-saitov-nedorogo	https://web-comp.ru/
Redirect 301 	/sozdanie-saytov-dlya-srednego-biznesa	https://web-comp.ru/portfolio/thematics/treningi/
Redirect 301 	/sozdat-sajt-buhgaltera	https://web-comp.ru/portfolio/thematics/byhgalteriya/
Redirect 301 	/spec_offer/page/1	https://web-comp.ru/blog
Redirect 301 	/spec_offer/page/2	https://web-comp.ru/blog
Redirect 301 	/spec_offer/page/3	https://web-comp.ru/blog
Redirect 301 	/studiya-sozdaniya-saytov	https://web-comp.ru/company/
Redirect 301 	/tehnicheskaya-podderjka	https://web-comp.ru/company/
Redirect 301    /corporate-site/Lite		https://web-comp.ru/corporate-site/
Redirect 301	/corporate-site/Pro			https://web-comp.ru/corporate-site/
Redirect 301	/promote/s-oplatoi-za-pozicii	https://web-comp.ru/promote/seo/result/
Redirect 301	/corporate-site/Proplus		https://web-comp.ru/corporate-site/
Redirect 301	/page/50	https://web-comp.ru/
Redirect 301	/e-commerce/Pro	https://web-comp.ru/e-commerce/
Redirect 301	/online-shop-seo-promotion	https://web-comp.ru/promote/
Redirect 301	/e-commerce/Lite	https://web-comp.ru/e-commerce/
Redirect 301	/news/	https://web-comp.ru/blog/
Redirect 301	/page/81	https://web-comp.ru/
Redirect 301	/blog/7		https://web-comp.ru/blog/
Redirect 301	/uslugi-po-sozdaniyu-sajtov	https://web-comp.ru/
Redirect 301	/page/78	https://web-comp.ru/
Redirect 301	/page/50	https://web-comp.ru/



</IfModule>


<IfModule mod_dir.c>
DirectoryIndex index/ index.php
</IfModule>

<IfModule mod_expires.c>
ExpiresActive on
ExpiresByType image/jpeg "access plus 3 day"
ExpiresByType image/gif "access plus 3 day"
ExpiresByType image/png "access plus 3 day"
ExpiresByType text/css "access plus 3 day"
ExpiresByType application/javascript "access plus 3 day" 
</IfModule>