input::-ms-clear {
  display: none;
}

html.ie9 * {
  border-radius: 0 !important;
}

html {
  width: 100%;
  height: 100%;
  font-size: $font-size;
  box-sizing: border-box;
;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  background: $bg;
  font-family: $font;
  color: $text;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;


  &::-webkit-scrollbar{
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba($text,.3);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba($Selective-yellow,.5);
  }
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.page {
  flex-grow: 1;
  height: 100vh;

  background-image: url(../images/bg/bg-index.jpg);
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-attachment: fixed;

  section {
    height: 100vh;
  }

  &_second {
    background-image: none;
    height: auto;
    section {
      height: auto;
    }
  }
}

.main {
  height: 100%;
  //padding-left: 325px;
  transition: .4s;
  transform: translate3d(0,-500vh,0);
  transform: translate3d(0,0,0);
}

.container {
  width: 100%;
  padding-left: 325px;
}

.container2 {
  width: 100%;
  padding-left: 325px;
  padding-right: 250px;
}

.container3 {
  width: calc(100% - 325px);
  margin-left: 325px;
}


.content {
  @include content;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ol {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  outline: none;
}

input, textarea, select {
  background-color: transparent;
  border: none;
  outline: none;
}