//variables
$vh: 1100;
$vw: 1920;


$break_xlg: 1899px;
$break_lg: 1439px;
$break_slg: 1199px;
$break_md: 991px;
$break_smd: 850px;
$break_sm: 767px;
$break_xs: 479px;


@mixin xlg () {
  @media screen and (max-width: $break_xlg){
    @content;
  }
}

@mixin lg () {
  @media screen and (max-width: $break_lg){
    @content;
  }
}

@mixin slg () {
  @media screen and (max-width: $break_slg){
    @content;
  }
}

@mixin md () {
  @media screen and (max-width: $break_md){
    @content;
  }
}

@mixin smd () {
  @media screen and (max-width: $break_smd){
    @content;
  }
}

@mixin sm () {
  @media screen and (max-width: $break_sm){
    @content;
  }
}

@mixin xs () {
  @media screen and (max-width: $break_xs){
    @content;
  }
}


@function rem($size) {
  $remSize: $size / $font-size;
  @return $remSize * 1rem;
}

@mixin fz($size) {
  font-size: $size;
  font-size: rem($size);
}

@function lh($size1, $size2) {
  $lh: $size2 / $size1;
  @return $lh;
}

@function vh($size) {
  @return $size/$vh *100*1vh;
}

@function vw($size) {
  @return $size/$vw *100*1vw;
}


@function proportion($size,$percent){
  @return $size*$percent;
}
@function projHeight($height1,$height2){
  @return $height1/$height2*100%;
}

@mixin projPosition( $top, $left, $height, $width){
  top: projHeight($top,$height);
  left: projHeight($left,$width);
}

@mixin img($width,$height,$percent){
  width: proportion($width,$percent);
  height: proportion($height,$percent)
}

@mixin content() {

  h3 {
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 400;
    @include md{
      font-size: 26px;
    };
  }

  p {
    margin-bottom: 35px;
    font-size: 17px;
    font-weight: 400;
    line-height: lh(17px,35px);

    @include lg{
      font-size: 15px;
      margin-bottom: 20px;
    };

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul {
    li {
      font-size: 17px;
      font-weight: 400;
      margin-bottom: 5px;
      line-height: lh(17px,35px);
      padding-left: 40px;
      position: relative;

      @include lg{
        font-size: 15px;
        padding-left: 30px;
      };

      &:before {
        content: '';
        display: block;
        width: 13px;
        height: 1px;
        position: absolute;
        left: 0;
        top: 18px;
        background: $Selective-yellow;
      }

      &:last-child {
        //margin-bottom: 0;
      }


      ul {
        padding-top: 20px;
        li {
          padding-left: 20px;

          &:before {
            content: '';
            display: block;
            width: 6px;
            height: 6px;
            border: 1px solid $Selective-yellow;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 6px;
            background-color: transparent;
          }
        }
      }
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    position: relative;

    thead {
      position: relative;


      &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        height: 2px;
        background: linear-gradient(to right, rgba(#c70541,0) 0%,rgba(#c70541,1) 30%,rgba(#c70541,1) 70%,rgba(#c70541,0) 100%);
      }
    }

    th {
      color: #c70541;
      font-size: 30px;
      font-weight: 500;
      text-align: left;
      padding-bottom: 30px;
      @include lg{
        font-size: 24px;
        padding-bottom: 20px;
      };
    }

    tbody {

      tr {
        position: relative;

        &:first-child {
          &:after {
            display: none;
          }
        }

        &:after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          height: 1px;
          background: linear-gradient(to right, rgba($bg,0) 0%,rgba($bg,0.3) 30%,rgba($bg,0.3) 70%,rgba($bg,0) 100%);
        }
      }

    }

    td {
      width: 20%;

      color: $bg;
      font-size: 21px;
      font-weight: 300;
      padding: 20px 0;
      @include lg{
        font-size: 19px;
        padding: 15px 0;
      };
    }
  }

}

@mixin headers() {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 1rem;
  }
  h5 {
    font-size: 0.875rem;
  }
  h6 {
    font-size: 0.75rem;
  }
}



