$asideLeft: 65px;
$asideRight: 90px;

@mixin asidePadding {
  padding-left: $asideLeft;
  padding-right: $asideRight;
}

.aside {
  position: fixed;
  z-index: 200;
  height: 100%;
  width: 325px;
  overflow: hidden;

  padding-top: vh(100);
  padding-bottom: vh(100);

  display: flex;
  flex-direction: column;

  &__logo {
    margin-bottom: vh(63);
    @include asidePadding;
  }

  &__contacts {
    margin-bottom: vh(45);
    @include asidePadding;
  }

  &__seporator {
    margin-bottom: vh(40);
    padding-right: $asideRight;

    .seporator {
      &:hover {
        .seporator__line {
          background: linear-gradient(to right, rgba(51, 51, 57, 0) 0%, rgba(51, 51, 57, 1) 100%);
        }
        .seporator__triangle {
          border-color: transparent transparent transparent rgba($text, .2);
        }
      }
    }

  }

  &__nav {
    @include asidePadding;
    margin-bottom: vh(34);
  }

  &__search {
    @include asidePadding;
    margin-bottom: vh(125);
  }

  &__controls {
    padding-left: 30px;
    padding-right: $asideRight;
    margin-bottom: vh(25);
  }

  &__map {
    padding-left: 30px;
    padding-right: $asideRight;
    margin-bottom: vh(25);
  }

  &__socials {
    @include asidePadding;
    margin-top: auto;
  }
}

.contacts {
  display: flex;
  flex-direction: column;

  &__item {
    color: $Battleship-grey;
    letter-spacing: 1.23px;
    margin-bottom: 10px;
    transition: .4s;

    &:hover {
      .contacts__item_white {
        color: $Selective-yellow;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &_white {
      color: $text;
      transition: .4s;
    }
  }
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__item {
    color: rgba($text, .5);
    font-weight: 300;
    position: relative;
    margin-bottom: vh(20);
    transition: .4s;

    &:hover {
      color: rgba($text, 1);
      &:after {
        opacity: 0;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: 116%;
      height: 1px;
      display: block;
      background: linear-gradient(to right, rgba(51, 51, 57, 1) 0%, rgba(51, 51, 57, 1) 75%, rgba(51, 51, 57, 0) 100%);;
      transition: .4s;
      opacity: 1;
    }
  }
}

.search {
  //display: flex;
  //align-items: center;
  position: relative;

  &__field {
    width: 0;
    overflow: hidden;
    opacity: 0.3;
    position: absolute;
    left: 25px;
    top: 50%;
    margin-top: -11px;
    transition: .4s;

    &.active {
      width: 185px;

    }

    &:after,&:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      height: 1px;
      width: 20px;
      background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    }
    &:before {
      top: 0px;
    }
    &:after {
      bottom: 0px;
    }
  }

  &__input {
    color: $text;
    font-size: 11px;
    font-weight: 100;
    letter-spacing: 0.55px;
    padding: 6px 6px 6px 0;
    margin-left: 20px;

    border: 1px solid $text;
    border-left: none;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;

    &::placeholder {
      color: $text;
    }
  }

  &__autocomplete {
    position: absolute;
    top: calc(100% + 15px);
    left: 25px;
    width: 185px;
  }

  &__btn {
    width: 20px;
    height: 13px;
    position: relative;

    &:hover {
      .search__btn-line {
        background-color: rgba($text,1);
      }
      .search__btn-round {
        border: 1px solid rgba($text,1);
      }
    }

    &-line {
      position: absolute;
      left: -2px;
      bottom: 3px;
      width: 9px;
      height: 1px;
      background-color: rgba($text,.5);
      transform: rotate(-15deg);
      transition: .4s;
    }
    &-round {
      position: absolute;
      right: 0;
      top: 0;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      border: 1px solid rgba($text,.5);
      transition: .4s;
    }
  }
}

.autocomplete {
  padding-left: 20px;
  display: none;

  &.active {
    display: block;
  }

  &__item {
    color: rgba($text,.3);
    font-size: 11px;
    font-weight: 100;
    line-height: 23px;
    letter-spacing: 0.55px;
    transition: .3s;
    cursor: pointer;



    &.active, &:hover {
      color: $text;
    }
  }
}

.controls {

}
.control {

  display: flex;
  align-items: center;
  margin-bottom: vh(25);

  &:hover {
    .control__title {
      color: rgba($text,1);
    }
    .control__map_grey {
      color: $Selective-yellow;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__svg {
    width: 13px;
    height: 13px;
    fill: $text;
    margin-right: 20px;
  }

  &__title {
    color: rgba($text,.5);
    font-size: 13px;
    font-weight: 300;
    transition: .4s;
  }

  &__map {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &_grey {
      position: relative;
      //opacity: .5;
      color: rgba($text,.5);
      //text-decoration: underline;

      &:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 108%;
        height: 1px;
        display: block;
        background: linear-gradient(to right, rgba(51, 51, 57, 1) 0%, rgba(51, 51, 57, 1) 75%, rgba(51, 51, 57, 0) 100%);;
      }
    }
  }
}

.socials {
  &__item {
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
    &-svg {
      width: 13px;
      height: 13px;
      fill: $text;
      transition: .4s;
    }

    &:hover {
      &.socials__item {
        &_vk {
          .socials__item-svg {
            fill: #4582B3;
          }
        }
        &_fb {
          .socials__item-svg {
            fill: #3B5999;
          }

        }
        &_insta {
          .socials__item-svg {
            fill: #C4286F;
          }

        }
      }
    }

  }
}