.best {

  &__row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: -15px;
    margin-right: -15px;
  }

  &__left {
    width: calc(57% - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }

  &__title {
    font-size: 57px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: vh(20);
  }

  &__switches {
    display: flex;
    align-items: center;
    margin-bottom: vh(70);
  }
  &__switch {
    color: rgba(#cbcbcb,.3);
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 0.92px;
    margin-right: 24px;
    transition: .3s;
    user-select: none;
    cursor: pointer;

    &.active {
      color: #f4b200;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__tab {
    display: none;

    &.active {
      display: block;
    }
  }

  &__switch-button {
    margin-right: 24px;
    width: 30px;
    height: 18px;
    border: 1px solid rgba($text,.2);
    border-radius: 9px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 3px;
    transition: .3s;
    cursor: pointer;

    &:after {
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #f4b200;
    }

    &.right {
      justify-content: flex-end;
    }
  }

  &__right {
    width: calc(43% - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }

  &__percents {
    position: relative;
    background-image: url(/images/content/best.png);
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-bottom: -25px;

    &-title {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &-text {
      color: #a6a6a6;
      font-size: 24px;
      font-weight: 300;
      letter-spacing: 6.41px;
      margin-bottom: vh(10);

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-value {
      font-size: 95px;
      font-weight: 300;
      text-transform: uppercase;
      margin-bottom: vh(45);
    }
  }

  &__button {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.table {
  width: 100%;

  &__wt {
    width: 52%;
  }
  &__ws {
    width: 14%;
  }
  &__wth {
    width: 34%;
  }

  &__thead {
    display: flex;
    margin-bottom: 25px;
  }
  &__th {
    text-align: center;
    color: rgba(#cbcbcb,.3);
    font-size: 19px;
    font-weight: 700;

    &:first-child {
      text-align: left;
    }
  }

  &__tr {
    display: flex;
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 1px;
      background: linear-gradient(to right, rgba($text,0.1) 0%,rgba($text,0.3) 30%,rgba($text,0.3) 70%,rgba($text,0.1) 100%);
    }
  }

  &__td {
    text-align: center;
    font-size: 21px;
    padding: 25px 0;

    &:first-child {
      text-align: left;
    }
  }
}