.edge {
  background: $text;
  padding: 100px 200px;
  padding-right: 170px;

  &__title {
    color: #1e1e1e;
    font-size: 40px;
    text-align: center;
    margin-bottom: 35px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    background-image: url(../images/bg/promoteEdge.png);
    background-position: 45% center;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 60px;
    padding-bottom: 80px;
    margin-bottom: 80px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item {
    width: 25%;
    display: flex;


    
    &:hover {
      .edge__name {
        color: #c31e1e;
      }
      .promote-edge__svg{
        fill: #c31e1e;
      }
      .edge__arrow {
        .arrow {
          margin-right: -100px;

          &_black {
            .arrow__line {
              background: linear-gradient(to right, rgba(#333, 0) 0%, rgba(#333, 1) 100%);
            }

            .arrow__triangle {
              border-color: transparent transparent transparent rgba(#333, 1) !important;
            }
          }


        }
      }
      &:nth-child(even) {
        .edge__arrow {
          .arrow {
            margin-left: -100px;
            margin-right: 0;

          }
        }
      }
    }
    
  }


  &__img {
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    margin-top: 10px;

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }

  &__svg {
    max-width: 36px;
    max-height: 36px;
    fill: rgba($bg,.8);
    transition: .4s;
  }

  &__name {
    color: rgba($bg,.8);
    font-size: 21px;
    line-height: 30px;
    margin-bottom: 25px;
    position: relative;
    padding-left: 51px;
    transition: .4s;
  }

  &__arrow {
    margin-left: 51px;
  }

  &__content {
    padding: 0 200px;
    margin-left: -40px;
    margin-right: -40px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 45px;
  }

  &__col {
    color: rgba($bg,.7);
    font-size: 15px;
    line-height: 26.13px;
    width: calc(50% - 80px);
    margin-left: 40px;
    margin-right: 40px;
  }

  &__button {
    width: 196px;
    height: 51px;
    border: 1px solid rgba($bg,.7);
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;

    color: $bg;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.92px;
  }

}