.footer {
  position: relative;
  padding-top: 65px;
  padding-right: 250px;
  padding-left: 250px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.2) 40%,rgba(255,255,255,0.2) 60%,rgba(255,255,255,0) 100%);
  }

  &__title {
    color: #f0a900;
    font-size: 37px;
    text-transform: uppercase;
    text-align: center;
  }

  &__cols {
    display: flex;
    flex-wrap: wrap;
    margin-left: -90px;
    margin-right: -90px;
  }

  &__col {
    flex-grow: 1;
    position: relative;
    padding: 60px 90px;
    &:after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      width: 1px;
      top: 0;
      bottom: 0;
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 100%);
    }
    &:before {
      content: '';
      display: block;

      width: 5px;
      height: 5px;
      border: 1px solid rgba($text,.5);
      position: absolute;
      right: -2px;
      top: 7px;

    }
    &:last-child {
      &:after,&:before {
        display: none;
      }
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    position: relative;


  }

  &__item {
    opacity: 0.5;
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 25px;
    text-align: center;
    transition: .4s;

    &:hover {
      opacity: 1;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-left: -250px;
    margin-right: -250px;
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 1px;
      background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.2) 40%,rgba(255,255,255,0.2) 60%,rgba(255,255,255,0) 100%);
    }

    padding: 60px 0;
  }

  &__tel {
    margin-right: 60px;
  }
}