.header {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 325px;
  right: vw(140);
  @include lg{
    left: 230px;
    right: 50px;
  };
  @include slg{
    left: 0;
    right: 0;
  };

  &_lg {
    display: none;
    @include lg{
      display: block;
    };
  }
}