.host {
  background: url("/images/bg/hostingBg.jpg") center 0 no-repeat;
  background-size: cover;

  @include smd {
    background-position: left 55% top -120px;
  }
  @include sm{
    background: none;
  };


  &-tarifs {
    position: relative;
    padding-top: 180px;
    margin-bottom: 115px;

    @include xlg {
      padding-top: 140px;
    }
    @include lg {
      padding-top: 100px;
    }
    @include slg {
      margin-left: 100px;
    }
    @include sm {
      margin-left: 0;
      padding-top: 50px;

      .proportion {
        display: none;
      }
    }


    &__list {
      position: absolute;
      top: 180px;
      bottom: 0;
      left: 0;
      right: 0;
      @include xlg {
        top: 140px;
      }
      @include lg {
        top: 100px;
      }
      @include sm {
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 15px;
      }
    ;
    }

    &__item {
      position: absolute;
      @include sm {
        position: relative;
        top: initial !important;
        left: initial !important;
        right: initial !important;
        bottom: initial !important;
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }
      @include xs{
        flex-direction: column;
        //margin-bottom: 30px;
      };

      &_0 {
        top: 0;
        left: 33.4%;


        &:hover {
          .host-tarifs__img-img {
            box-shadow: inset 16px 0 40px 3px rgba(0, 0, 0, 0.9), inset -3px 0 5px 2px rgba(255, 255, 255, 0.16), 0px 0px 5px 4px rgba(#789fbb, 0.5);
          }
        }

        .host-tarifs__img {

          &-img {
            width: vh(80);
            height: vh(80);

            animation: tarif0 10s linear 0s infinite;
            box-shadow: inset vh(16) 0 vh(40) vh(3) rgba(0, 0, 0, 0.9), inset vh(-3) 0 vh(5) vh(2) rgba(255, 255, 255, 0.16), 0px 0px vh(4) vh(2) rgba(#789fbb, 0.5);

            @include smd {
              width: vw(80);
              height: vw(80);
              animation: tarif0vw 10s linear 0s infinite;
            }
            @include sm {
              width: vh(80);
              height: vh(80);
              animation: tarif0 10s linear 0s infinite;
              //width: 30px;
              //height: 30px;
              //background-position: 0 0;
            }
          }
        }

        .host-tarifs__tag {
          padding-right: 50px;
          right: calc(100% - 30px);
          top: 50%;
          transform: translateY(-50%);


        }

        .host-tarifs__title {
          font-size: 47px;
          @include sm {
            font-size: vh(47);
          }
        ;
        }

        .host-tarifs__sub {
          font-size: 15px;
          @include sm {
            font-size: vh(15);
          }
        ;
        }
      }

      &_1 {
        top: 10.8%;
        left: 11.8%;

        &:hover {
          .host-tarifs__img-img {
            box-shadow: inset 26px 0 60px 3px rgba(0, 0, 0, 0.9), inset -3px 0 5px 2px rgba(255, 255, 255, 0.16), 0px 0px 7px 7px rgba(#789fbb, 0.5);
          }
        }

        .host-tarifs__img {

          &-img {
            //width: 125px;
            //height: 125px;
            width: vh(125);
            height: vh(125);

            animation: tarif1 20s linear 0s infinite;
            box-shadow: inset vh(26) 0 vh(60) vh(3) rgba(0, 0, 0, 0.9), inset vh(-3) 0 vh(5) vh(2) rgba(255, 255, 255, 0.16), 0px 0px vh(5) vh(3) rgba(#789fbb, 0.3);
            @include smd {
              width: vw(125);
              height: vw(125);
              animation: tarif1vw 20s linear 0s infinite;
            }
            @include sm {
              width: vh(125);
              height: vh(125);
              animation: tarif1 20s linear 0s infinite;
            }

          }
        }

        .host-tarifs__glow {
          display: none;
        }

        .host-tarifs__tag {
          padding-right: 50px;
          right: calc(100% - 25px);
          top: 50%;
          transform: translateY(-50%);
          @include sm {
            transform: none;
          }
        ;
        }

        .host-tarifs__title {
          font-size: 67px;
          @include sm {
            font-size: vh(67);
          }
        ;
        }

        .host-tarifs__sub {
          font-size: 21px;
          @include sm {
            font-size: vh(21);
          }
        ;
        }
      }

      &_2 {
        top: 44%;
        left: 2.5%;

        &:hover {
          .host-tarifs__img-img {
            box-shadow: inset 46px 0 90px 3px rgba(0, 0, 0, 0.9), inset -3px 0 5px 2px rgba(255, 255, 255, 0.16), 0px 0px 9px 10px rgba(#789fbb, 0.5);
          }
        }

        .host-tarifs__img {

          &-img {
            //width: 280px;
            //height: 280px;
            width: vh(280);
            height: vh(280);

            animation: tarif2 40s linear 0s infinite;
            box-shadow: inset vh(46) 0 vh(90) vh(3) rgba(0, 0, 0, 0.9), inset vh(-3) 0 vh(5) vh(2) rgba(255, 255, 255, 0.16), 0px 0px vh(7) vh(7) rgba(#789fbb, 0.5);
            @include smd {
              width: vw(280);
              height: vw(280);
              animation: tarif2vw 40s linear 0s infinite;
            }
            @include sm {
              width: vh(280);
              height: vh(280);
              animation: tarif2 40s linear 0s infinite;
            }

          }

        }

        .host-tarifs__tag {
          //padding-right: 50px;
          //padding-bottom: 12px;
          //position: absolute;
          //left: 16px;
          //top: 45px;
          padding-right: 50px;
          right: calc(100% - 25px);
          top: 50%;
          transform: translateY(-50%);
          @include sm {
            transform: none;
          }
        ;
        }

        .host-tarifs__title {
          font-size: 67px;
          line-height: 60px;
          @include sm {
            font-size: vh(80);
            line-height: 1;
          }
        }

        .host-tarifs__sub {
          font-size: 21px;
          @include sm {
            font-size: vh(28);
          }
        ;
        }
      }

      &_3 {
        bottom: 0;
        left: 39%;

        &:hover {
          .host-tarifs__img-img {
            box-shadow: inset 46px 0 90px 3px rgba(0, 0, 0, 0.9), inset -3px 0 5px 2px rgba(255, 255, 255, 0.16), 0px 0px 10px 11px rgba(#789fbb, 0.5);
          }
        }

        .host-tarifs__img {

          &-img {
            //width: 320px;
            //height: 320px;
            width: vh(320);
            height: vh(320);

            animation: tarif3 40s linear 0s infinite;
            transform: rotateX(6deg) rotateY(6deg) rotateZ(6deg);
            box-shadow: inset vh(46) 0 vh(90) vh(3) rgba(0, 0, 0, 0.9), inset vh(-3) 0 vh(5) vh(2) rgba(255, 255, 255, 0.16), 0px 0px vh(7) vh(7) rgba(#789fbb, 0.5);
            @include smd {
              width: vw(320);
              height: vw(320);
              animation: tarif3vw 40s linear 0s infinite;
            }
            @include sm {
              width: vh(320);
              height: vh(320);
              animation: tarif3 40s linear 0s infinite;
            }
          }
        }

        .host-tarifs__tag {
          padding-right: 50px;
          padding-bottom: 12px;
          right: calc(100% - 25px);
          top: 50%;
          transform: translateY(-50%);
          @include sm {
            transform: none;
          }
        ;
        }

        .host-tarifs__title {
          font-size: 67px;
          line-height: 60px;
          @include sm {
            font-size: vh(120);
            line-height: 1;
          }
        ;
        }

        .host-tarifs__sub {
          font-size: 21px;
          @include sm {
            font-size: vh(32);
          }
        ;
        }
      }

      &_4 {
        bottom: 14%;
        right: -12.5%;

        &:hover {
          .host-tarifs__img-img {
            box-shadow: inset 66px 0 120px 3px rgba(0, 0, 0, 0.9), inset -3px 0 5px 2px rgba(255, 255, 255, 0.16), 0px 0px 12px 14px rgba(#789fbb, 0.5);
          }
        }

        .host-tarifs__img {

          &-img {
            width: vh(535);
            height: vh(535);

            animation: tarif4 70s linear 0s infinite;
            transform: rotateX(6deg) rotateY(6deg) rotateZ(6deg);
            box-shadow: inset vh(66) 0 vh(120) vh(3) rgba(0, 0, 0, 0.9), inset vh(-3) 0 vh(5) vh(2) rgba(255, 255, 255, 0.16), 0px 0px vh(9) vh(9) rgba(#789fbb, 0.5);

            @include smd {
              width: vw(535);
              height: vw(535);
              animation: tarif4vw 70s linear 0s infinite;
            }
            @include sm {
              width: vh(535);
              height: vh(535);
              animation: tarif4 70s linear 0s infinite;
            }
          }
        }

        .host-tarifs__tag {
          padding-right: 50px;
          padding-bottom: 12px;
          right: calc(100% - 25px);
          top: 50%;
          transform: translateY(-50%);
          @include sm {
            transform: none;
          }
        ;
        }

        .host-tarifs__title {
          font-size: 67px;
          line-height: 60px;
          @include sm {
            font-size: vh(130);
          }
          @include xs{
            font-size: vh(110);
          };

        }

        .host-tarifs__sub {
          font-size: 21px;
          @include sm {
            font-size:vh(42);
          }
        ;
        }
      }

      &:hover {

        .host-tarifs__img-img {
          animation-play-state: paused;
        }

        .host-tarifs__glow {
          transform: scale(1.1);
        }

        .host-tarifs__title {
          color: $Selective-yellow;
        }
      }

    }

    &__img {
      position: relative;

      &-img {
        position: relative;
        z-index: 20;
        background-size: cover;
        border-radius: 50%;
        transform: rotateX(6deg) rotateY(6deg) rotateZ(6deg);
        transition: .3s;
      }
    }

    &__glow {
      position: absolute;
      z-index: 10;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: scale(1);
      transition: .4s;

      &-img {
        max-width: initial;
      }
    }

    &__tag {
      position: absolute;
      padding-bottom: 5px;

      @include sm {
        //position: static;
        //order: -1;
        padding: 0 !important;
        //margin-right: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        right: calc(100% + 10px) !important;
        top: 50%;
        transform: translateY(-50%) !important;
      }
      @include xs{
        position: static;
        order: -1;
        transform: none !important;
        margin-bottom: 5px;
      };

      &:after {
        content: '';
        display: block;
        position: absolute;
        height: 1px;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to right, rgba(158, 158, 165, 1) 0%, rgba(158, 158, 165, 0) 100%);
        transition: .4s;
        @include sm {
          display: none;
        }
      ;
      }
    }

    &__title {
      line-height: 1;
      font-weight: 300;
      text-transform: uppercase;
      white-space: nowrap;
      transition: .4s;

      &_y {
        color: $Selective-yellow;
      }
    }

    &__sub {
      color: #79797f;
      letter-spacing: 1.43px;
      font-weight: 100;
      @include sm{
        display: none;
      };
    }
  }

  &-cont {
    padding: 0 430px 0 170px;
    margin-bottom: 160px;

    @include xlg {
      padding: 0 130px 0 70px;
      margin-bottom: 60px;
    }
    @include lg {
      padding: 0 50px;
    }
    @include sm{
      padding: 0 15px;
    };

    p {
      color: rgba($text, .8);
    }
  }

  &-chars {

    @include slg {
      padding: 0 30px;
    }
    @include sm{
      padding: 0 15px;
    };
    @include xs{
      display: none;
    };

    &__title {
      padding: 0 220px;
      margin-bottom: 130px;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      @include xlg {
        padding: 0;
        margin-bottom: 50px;
      }
      @include slg {
        justify-content: center;
      }
      @include sm{
        flex-direction: column;
        align-items: center;
        justify-content: initial;
        margin-bottom: 20px;
      };

      &-img {
        @include xlg {
          width: 200px;
        }
        @include lg {
          width: 160px;
        }
        @include smd {
          width: 150px;
        }
        @include sm{
          width: 100px;
        };
      }

      &-left {
        margin-right: 30px;
        @include sm{
          margin-right: 0;
          margin-bottom: 10px;
        };
      }

      &-right {
        font-size: 57px;
        font-weight: 300;
        line-height: lh(50px, 64.2px);
        text-transform: uppercase;

        &_y {
          color: #f5ad00;
        }

        @include xlg {
          font-size: 50px;
        }
        @include lg {
          font-size: 37px;
        }
        @include sm{
          font-size: 24px;
          text-align: center;
        };
      }
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      margin-left: -130px;
      padding-right: 120px;
      @include xlg {
        padding-right: 0;
      }
      @include lg {
        margin-left: -20px;
      }
      @include sm{
        margin-left: -10px;
        margin-right: -10px;
      };
    }

    &__col {
      width: calc(100% / 3);
      padding: 0 80px;
      position: relative;

      @include lg {
        padding: 0 20px;
      }
      @include sm{
        padding: 0 10px;
      };

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 1px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 20%, rgba(255, 255, 255, 0.2) 100%);
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }

    &__li {
      color: rgba($text, .7);
      font-size: 19px;
      font-weight: 300;
    }
  }

  .bottom {
    background: none;
    padding-top: 155px;
    @include sm{
      padding-top: 50px;
    };
  }
}

.hosting {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include sm{
    width: 100%;
  };

  &__planet {
    position: relative;
    margin-bottom: 30px;
    left: initial;
    top: initial;
    right: initial;
    bottom: initial;
    margin-left: 260px;
    @include sm{
      margin-left: 120px;
      margin-bottom: 15px;
    };
    @include xs{
      margin-left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    };

    &.host-tarifs__item_2 {
      .host-tarifs__tag {
        left: -260px;

        &:after {
          width: 148px;
          left: initial;
          right: 0;
        }
      }
    }

  }

  &__content {
    width: 100%;
    margin-bottom: 85px;
    @include sm{
      margin-bottom: 20px;
    };

    table {
      width: 100%;
      border-collapse: collapse;

      th {
        opacity: 0.6;
        color: $text;
        font-size: 25px;
        font-weight: 300;
        line-height: lh(25px, 79.8px);
        border-top: 1px solid rgba($text, .2);
        border-bottom: 1px solid rgba($text, .2);
        @include md {
          font-size: 17px;
        }
        @include sm{
          font-size: 11px;
          line-height: 1;
          padding: 5px;
        };
        @include xs{
          font-size: 9px;
        };
      }

      td {
        font-size: 25px;
        font-weight: 300;
        padding-top: 45px;
        text-align: center;
        @include md {
          font-size: 17px;
          padding-top: 15px;
        }
        @include smd {
          padding: 15px 10px 0 10px;
        }
        @include sm{
          padding: 5px;
          font-size: 11px;
        }
        @include xs{
          font-size: 9px;
        };
      }


    }
  }

  &__bottom {
    width: 100%;
  }

}

.popup {
  .hosting__planet.host-tarifs__item_2 .host-tarifs__tag {
    padding-right: 50px;
    padding-bottom: 12px;
    position: absolute;
    left: -380px;
    top: 50%;
    transform: translateY(-50%);
    @include sm{
      left: -120px;
    };
    @include xs{
      position: static;
    };
  }
}

@keyframes tarif0 {
  0% {
    background-position: 0 0
  }
  100% {
    background-position: vh(160) 0;
  }
}

@keyframes tarif1 {
  0% {
    background-position: 0 0
  }
  100% {
    background-position: vh(250) 0;
  }
}

@keyframes tarif2 {
  0% {
    background-position: 0 0
  }
  100% {
    background-position: vh(560) 0;
  }
}

@keyframes tarif3 {
  0% {
    background-position: 0 0
  }
  100% {
    background-position: vh(640) 0;
  }
}

@keyframes tarif4 {
  0% {
    background-position: 0 0
  }
  100% {
    background-position: vh(1070) 0;
  }
}


@keyframes tarif0vw {
  0% {
    background-position: 0 0
  }
  100% {
    background-position: vw(160) 0;
  }
}

@keyframes tarif1vw {
  0% {
    background-position: 0 0
  }
  100% {
    background-position: vw(250) 0;
  }
}

@keyframes tarif2vw {
  0% {
    background-position: 0 0
  }
  100% {
    background-position: vw(560) 0;
  }
}

@keyframes tarif3vw {
  0% {
    background-position: 0 0
  }
  100% {
    background-position: vw(640) 0;
  }
}

@keyframes tarif4vw {
  0% {
    background-position: 0 0
  }
  100% {
    background-position: vw(1070) 0;
  }
}