.host {
  background: url("../images/bg/hostingBg.jpg") 0 0 no-repeat;
  background-size: cover;

  &-tarifs {
    position: relative;
    padding-top: 180px;
    margin-bottom: 115px;


    &__list {
      position: absolute;
      top: 180px;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &__item {
      position: absolute;

      &_0{
        top: 0;
        left: 33.4%;

        &:hover {
          .host-tarifs__img-img {
            box-shadow: inset 16px 0 40px 3px rgba(0,0,0,0.9), inset -3px 0 5px 2px rgba(255,255,255,0.16),  0px 0px 5px 4px rgba(#789fbb, 0.5);
          }
        }

        .host-tarifs__img {

          &-img {
            width: 80px;
            height: 80px;
            animation: tarif0 10s linear 0s infinite;
            box-shadow: inset 16px 0 40px 3px rgba(0,0,0,0.9), inset -3px 0 5px 2px rgba(255,255,255,0.16),  0px 0px 4px 2px rgba(#789fbb, 0.5);
          }
        }

        .host-tarifs__tag {
          padding-right: 50px;
          right: calc(100% - 30px);
          top: 50%;
          transform: translateY(-50%);
        }

        .host-tarifs__title {
          font-size: 47px;
        }

        .host-tarifs__sub {
          font-size: 15px;
        }
      }

      &_1{
        top: 10.8%;
        left: 11.8%;

        &:hover {
          .host-tarifs__img-img {
            box-shadow: inset 26px 0 60px 3px rgba(0,0,0,0.9), inset -3px 0 5px 2px rgba(255,255,255,0.16),  0px 0px 7px 7px rgba(#789fbb, 0.5);
          }
        }

        .host-tarifs__img {

          &-img {
            width: 125px;
            height: 125px;
            animation: tarif1 20s linear 0s infinite;
            box-shadow: inset 26px 0 60px 3px rgba(0,0,0,0.9), inset -3px 0 5px 2px rgba(255,255,255,0.16),  0px 0px 5px 3px rgba(#789fbb, 0.3);
          }
        }

        .host-tarifs__glow {
          display: none;
        }

        .host-tarifs__tag {
          padding-right: 50px;
          right: calc(100% - 25px);
          top: 50%;
          transform: translateY(-50%);
        }

        .host-tarifs__title {
          font-size: 67px;
        }

        .host-tarifs__sub {
          font-size: 21px;
        }
      }

      &_2{
        top: 44%;
        left: 2.5%;

        &:hover {
          .host-tarifs__img-img {
            box-shadow: inset 46px 0 90px 3px rgba(0,0,0,0.9), inset -3px 0 5px 2px rgba(255,255,255,0.16),  0px 0px 9px 10px rgba(#789fbb, 0.5);
          }
        }

        .host-tarifs__img {

          &-img {
            width: 280px;
            height: 280px;
            animation: tarif2 40s linear 0s infinite;
            box-shadow: inset 46px 0 90px 3px rgba(0,0,0,0.9), inset -3px 0 5px 2px rgba(255,255,255,0.16),  0px 0px 7px 7px rgba(#789fbb, 0.5);
          }

        }

        .host-tarifs__tag {
          //padding-right: 50px;
          //padding-bottom: 12px;
          //position: absolute;
          //left: 16px;
          //top: 45px;
          padding-right: 50px;
          right: calc(100% - 25px);
          top: 50%;
          transform: translateY(-50%);
        }

        .host-tarifs__title {
          font-size: 67px;
          line-height: 60px;
        }

        .host-tarifs__sub {
          font-size: 21px;
        }
      }

      &_3{
        bottom: 0;
        left: 39%;

        &:hover {
          .host-tarifs__img-img {
            box-shadow: inset 46px 0 90px 3px rgba(0,0,0,0.9), inset -3px 0 5px 2px rgba(255,255,255,0.16), 0px 0px 10px 11px rgba(#789fbb, 0.5);
          }
        }

        .host-tarifs__img {

          &-img {
            width: 320px;
            height: 320px;
            animation: tarif3 40s linear 0s infinite;
            transform: rotateX(6deg) rotateY(6deg) rotateZ(6deg);
            box-shadow: inset 46px 0 90px 3px rgba(0,0,0,0.9), inset -3px 0 5px 2px rgba(255,255,255,0.16), 0px 0px 7px 7px rgba(#789fbb, 0.5);
          }
        }

        .host-tarifs__tag {
          padding-right: 50px;
          padding-bottom: 12px;
          position: absolute;
          right: calc(100% - 25px);
          top: 50%;
          transform: translateY(-50%);
        }

        .host-tarifs__title {
          font-size: 67px;
          line-height: 60px;
        }

        .host-tarifs__sub {
          font-size: 21px;
        }
      }

      &_4 {
        bottom: 14%;
        right: -12.5%;

        &:hover {
          .host-tarifs__img-img {
            box-shadow: inset 66px 0 120px 3px rgba(0,0,0,0.9), inset -3px 0 5px 2px rgba(255,255,255,0.16), 0px 0px 12px 14px rgba(#789fbb, 0.5);
          }
        }

        .host-tarifs__img {

          &-img {
            width: 535px;
            height: 535px;
            animation: tarif4 70s linear 0s infinite;
            transform: rotateX(6deg) rotateY(6deg) rotateZ(6deg);
            box-shadow: inset 66px 0 120px 3px rgba(0,0,0,0.9), inset -3px 0 5px 2px rgba(255,255,255,0.16), 0px 0px 9px 9px rgba(#789fbb, 0.5);
          }
        }

        .host-tarifs__tag {
          padding-right: 50px;
          padding-bottom: 12px;
          position: absolute;
          right: calc(100% - 25px);
          top: 50%;
          transform: translateY(-50%);
        }

        .host-tarifs__title {
          font-size: 67px;
          line-height: 60px;
        }

        .host-tarifs__sub {
          font-size: 21px;
        }
      }

      &:hover {

        .host-tarifs__img-img {
          animation-play-state: paused;
        }

        .host-tarifs__glow {
          transform: scale(1.1);
        }

        .host-tarifs__title {
          color: $Selective-yellow;
        }
      }

    }

    &__img {
      position: relative;

      &-img {
        position: relative;
        z-index: 20;
        background-size: cover;
        border-radius: 50%;
        transform: rotateX(6deg) rotateY(6deg) rotateZ(6deg);
        transition: .3s;
      }
    }

    &__glow {
      position: absolute;
      z-index: 10;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: scale(1);
      transition: .4s;

      &-img {
        max-width: initial;
      }
    }

    &__tag {
      position: absolute;
      padding-bottom: 5px;

      &:after {
        content: '';
        display: block;
        position: absolute;
        height: 1px;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to right, rgba(158, 158, 165, 1) 0%, rgba(158, 158, 165, 0) 100%);
        transition: .4s;
      }
    }

    &__title {
      line-height: 1;
      font-weight: 300;
      text-transform: uppercase;
      white-space: nowrap;
      transition: .4s;

      &_y {
        color: $Selective-yellow;
      }
    }

    &__sub {
      color: #79797f;
      letter-spacing: 1.43px;
      font-weight: 100;
    }
  }

  &-cont {
    padding: 0 430px 0 170px;
    margin-bottom: 160px;

    p {
      color: rgba($text, .6);
    }
  }

  &-chars {

    &__title {
      padding: 0 220px;
      margin-bottom: 130px;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;

      &-left {
        margin-right: 30px;
      }

      &-right {
        font-size: 57px;
        font-weight: 300;
        line-height: 64.2px;
        text-transform: uppercase;
        &_y {
          color: #f5ad00;
        }
      }
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      margin-left: -130px;
      padding-right: 120px;
    }
    &__col {
      width: calc(100%/3);
      padding: 0 80px;
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 1px;
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.1) 20%,rgba(255,255,255,0.2) 100%);
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }

    &__li {
      color: rgba($text,.5);
      font-size: 19px;
      font-weight: 300;
    }
  }

  .bottom {
    background: none;
    padding-top: 155px;
  }
}

.hosting {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__planet {
    position: relative;
    margin-bottom: 30px;
    left: initial;
    top: initial;
    right: initial;
    bottom: initial;
    margin-left: 260px;

    &.host-tarifs__item_2 {
      .host-tarifs__tag {
        left: -260px;

        &:after {
          width: 148px;
          left: initial;
          right: 0;
        }
      }
    }

  }

  &__content {
    width: 100%;
    margin-bottom: 85px;
    table {
      width: 100%;
      border-collapse: collapse;

      th {
        opacity: 0.3;
        color: $text;
        font-size: 25px;
        font-weight: 300;
        line-height: 79.8px;
        border-top: 1px solid rgba($text,.2);
        border-bottom: 1px solid rgba($text,.2);
      }

      td {
        font-size: 25px;
        font-weight: 300;
        padding-top: 45px;
        text-align: center;
      }


    }
  }

}

.popup {
  .hosting__planet.host-tarifs__item_2 .host-tarifs__tag {
    padding-right: 50px;
    padding-bottom: 12px;
    position: absolute;
    left: -380px;
    top: 50%;
    transform: translateY(-50%);
  }
}

@keyframes tarif0 {
  0% { background-position:0 0 }
  100% { background-position: 160px 0 }
}

@keyframes tarif1 {
  0% { background-position:0 0 }
  100% { background-position: 250px 0 }
}

@keyframes tarif2 {
  0% { background-position:0 0 }
  100% { background-position: 560px 0 }
}

@keyframes tarif3 {
  0% { background-position:0 0 }
  100% { background-position: 640px 0 }
}

@keyframes tarif4 {
  0% { background-position:0 0 }
  100% { background-position: 1070px 0 }
}