.index {

  &-first {
    display: flex;
    align-items: center;
    position: relative;
    //margin-left: -325px;
    //padding-left: 325px;

    &__title {
      position: relative;
      z-index: 30;
    }

    &__image {
      position: absolute;
      z-index: 20;
      bottom: 0;
      left: 0;
    }

    &__img {
      height: vh(1023);
      width: vh(1154);
      background: url('/images/icons/sprite.png') left center;
      background-size: cover;
      animation: play 0.8s steps(6) infinite;

      position: relative;
      z-index: 20;
      display: block;
    }

    &__we {
      position: absolute;
      z-index: 10;
      top: vh(500);
      transform: translateY(-50%);
      right: -240px;
    }

    &__test {
      position: absolute;
      z-index: 10;
      top: vh(105);
      right: vh(85);
    }

    &__menu {
      position: absolute;
      z-index: 30;
      left: 0;
      right: vw(140);
      bottom: 0;
    }
  }

  &-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-left: -325px;
    padding-left: 325px;
    overflow: hidden;

    &__title {
      position: relative;
      z-index: 20;
      margin-bottom: vh(45);
    }

    &__content {
      position: relative;
      z-index: 40;
      //opacity: .5;
      width: 420px;
      font-size: 17px;
      font-weight: 300;
      line-height: 30px;
      padding-left: 70px;

      p {
        margin-bottom: vh(55);
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__image {
      &:before {
        content: url("/images/content/figure_shadow.png");
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 20;
        height: vh(559);
      }
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 10;
    }

    &__we {
      position: absolute;
      z-index: 0;
      left: 56.5%;
      top: 30%;
    }


    &__menu {
      position: absolute;
      z-index: 30;
      top: 0;
      left: 325px;
      right: vw(140);
    }

  }

  &-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-left: -325px;
    padding-left: 325px;
    overflow: hidden;
    background-image: url(../images/bg/screen3.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    padding-right: 300px;

    &__title {
      font-size: 64px;
      font-weight: 300;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: vh(20);
    }

    &__subtitle {
      color: $Selective-yellow;
      font-size: 25px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 0.92px;
      text-align: center;
      margin-bottom: vh(60);
    }

    &__calc {
      display: flex;
      justify-content: center;
    }

    &__menu {
      position: absolute;
      z-index: 30;
      top: 0;
      left: 325px;
      right: vw(140);
    }
  }

  &-cat {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    margin-left: -325px;
    padding-left: 325px;
    overflow: hidden;
    padding-right: 350px;

    &__title {
      font-size: 63px;
      font-weight: 300;
      text-transform: uppercase;
      margin-bottom: vh(20);
    }

    &__subtitle {

      color: $Selective-yellow;
      font-size: 25px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 0.92px;
      margin-bottom: vh(70);
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      position: relative;
    }

    &__item {
      width: 25%;
      position: relative;

      &_5 {
        width: 20%;
      }

      &:hover {
        .index-cat__item-pic {
          transform: scale(1.2);
        }
      }

      &-img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &-pic {
        display: block;
        transition: .4s;
      }
      &-title {
        color: rgba($text, .7);
        font-size: 13px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 7%;
        text-align: center;
        transition: .3s;
      }
    }


    &__menu {
      position: absolute;
      z-index: 30;
      top: 0;
      left: 325px;
      right: vw(140);
    }
  }

  &-seo {
    background: url("../images/bg/indexSeoBg.jpg") 0 0 no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-left: -325px;
    padding-left: 325px;
    overflow: hidden;
    padding-right: 300px;

    &__title {
      display: flex;
      justify-content: center;
      margin-bottom: vh(70);
    }

    &__menu {
      position: absolute;
      z-index: 30;
      top: 0;
      left: 325px;
      right: vw(140);
    }

    &__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: vh(70);
    }

    &__item {
      padding: 12px 30px;

      &-title {
        color: rgba($text,.5);
        font-size: 32px;
        font-weight: 300;
        transition: .4s;
        cursor: pointer;
      }
    }

    &__label {
      display: block;
    }

    &__input {
      display: none;

      &:checked+.index-seo__item-title {
        color: $text;
      }
    }

    &__button {
      display: flex;
      justify-content: center;
    }
  }

  &-bottom {
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: -325px;
    position: relative;

    &::-webkit-scrollbar{
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: rgba($text,.3);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: rgba($Selective-yellow,.5);
    }


    &__menu {
      position: absolute;
      z-index: 30;
      top: 0;
      left: 325px;
      right: vw(140);
    }

    &__wrapper {
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      right: 0;
      background-image: url(../images/bg/bottom.jpg);
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: cover;
      padding-left: 325px;
      padding-right: 250px;
      padding-top: vh(300);
      display: flex;
      flex-direction: column;
    }

    .footer {


    }
  }

  &__best {
    margin-bottom: vh(150);
  }

  &__rev {
    margin-bottom: vh(180);
  }

  &__blog {
    margin-bottom: vh(170);
  }

  &__work {
    margin-bottom: vh(150);
  }

  &__why {
    margin-bottom: vh(125);
  }

  &__footer {
    margin-left: -325px;
    margin-right: -250px;
  }

}

.monster {
  height: vh(1023);
  width: vh(1154);
  background: url('/images/icons/sprite.png') left center;
  background-size: cover;

  animation: play 0.8s steps(6) infinite;
}

@keyframes play {
  100% { background-position: -600%; }
}

.monster2 {
  height: vh(1023);
  width: vh(1154);
  background: url('/images/icons/sprite2.png') left center;
  background-size: cover;
  animation: play2 3.8s steps(30) infinite;

}
@keyframes play2 {
  100% { background-position: -3000%;}
}