.index {

  @mixin bdb {
    border-bottom: 1px solid #ccc;
  }

  &-first {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;

    @include lg {
      height: 100vh !important;
      @include bdb;
    }
    @include md{
      align-items: flex-start;
      padding-top: 150px;
    };
    @include xs{
      padding-top: 50px;
    };


    &__title {
      position: relative;
      z-index: 30;
      @include slg{
        padding-left: 15px;
      };
      @include md{

      };
      @include sm{
        width: 100%;
        padding-left: 0;
        display: flex;
        justify-content: center;
      };
    }

    &__image {
      position: absolute;
      z-index: 20;
      bottom: 0;
      left: 0;
      width: vh(1154);
      max-width: 100%;

      .proportion{
        //display: none;
      }

      @include slg {
        left: 50%;
        transform: translateX(-50%);

        .proportion{
          display: block;
        }
      }

    }

    &__img {
      height: 100%;
      width: 100%;
      width: 1154px;
      height: 1023px;
      position: absolute;
      z-index: 20;
      top: 0;
      left: 0;

      background: url('/images/icons/sprite.png') left center;
      background-size: cover;
      animation: play 0.8s steps(6) infinite;
      display: block;

      @include lg {
        left: 50%;
        transform: translateX(-50%) scale(0.9);
      };

      @include md {
        transform: translateX(-50%) scale(0.7);
      };

      @include smd{
        height: 100%;
        width: 100%;
        background: url('/images/icons/sprite3.png') left center;
        background-size: cover;
        animation: play3 0.8s steps(3) infinite;
        bottom: 0;
        top: initial;
        transform: translateX(0%) scale(1);
        left: 0;
      };

      @include sm{
        background: url('/images/icons/sprite3.png') left center;
        background-size: cover;
        animation: play3 0.8s steps(3) infinite;
      };

    }

    &__we {
      position: absolute;
      z-index: 10;
      top: vh(500);
      transform: translateY(-50%);
      right: -240px;
      @include xlg {
        right: initial;
        //transform: translate(-50%,-50%);
        left: 50%;
        z-index: 30;
      }
      @include slg {
        transform: translate(-50%, -50%);
      }
      @include sm{
        top: initial;
        bottom: 20px;
      };
      @include xs{
        bottom: initial;
        top: -40px;
      };
    }

    &__test {
      position: absolute;
      z-index: 10;
      top: vh(105);
      right: vh(85);
      @include lg{
        top: 100px;
        right: 50px;
      };
      @include slg{
        right: 20px;
        z-index: 30;
      };
      @include sm{
        display: none;
      };
    }

    &__menu {
      position: absolute;
      z-index: 30;
      left: 0;
      right: vw(140);
      bottom: 0;
      @include lg {
        display: none;
      }
    ;
    }
  }

  &-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-left: -325px;
    padding-left: 325px;
    overflow: hidden;

    @include xlg {
      padding-top: vh(100);
    }
    @include lg {
      margin: 0;
      padding: 0;
      min-height: 100vh !important;
      @include bdb;
    }
    @include sm{
      padding-bottom: 50px;
    };



    &__title {
      position: relative;
      z-index: 20;
      margin-bottom: vh(45);
      @include slg{
        padding-left: 15px;
      };
      @include sm{
        padding-left: 0;
        display: flex;
        justify-content: center;
      };
    }

    &__content {
      position: relative;
      z-index: 40;
      //opacity: .5;
      width: 420px;
      font-size: 17px;
      font-weight: 300;
      line-height: lh(17px, 30px);
      padding-left: 70px;

      @include lg {
        font-size: 15px;
        padding-left: 0;
      }
      @include slg {
        font-size: 13px;
        padding-left: 30px;
      }
      @include sm{
        width: 100%;
        padding: 0 15px;
      };


      p {
        margin-bottom: vh(55);
        @include slg {
          margin-bottom: 15px;
        }
      ;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__image {
      &:before {
        content: url("/images/content/figure_shadow.png");
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 20;
        height: vh(559);
        @include lg {
          display: none;
        }
      ;
      }

      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 10;
    }

    &__we {
      position: absolute;
      z-index: 0;
      left: 56.5%;
      top: 30%;

      @include xlg {
        right: initial;
        left: 50%;
        z-index: 30;
      }
      @include slg {
        left: 45%;
      }
      @include sm{
        top: initial;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20px;
      };
      @include xs{
        display: none;
      };
    }

    &__menu {
      position: absolute;
      z-index: 30;
      top: 0;
      left: 325px;
      right: vw(140);
      @include lg {
        display: none;
      }
    ;
    }

  }

  &-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-left: -325px;
    padding-left: 325px;
    overflow: hidden;
    background-image: url(../images/bg/screen3.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    padding-right: 300px;
    padding-top: 50px;

    @include xlg {
      padding-top: vh(100);
      padding-right: 170px;
    }

    @include lg {
      margin: 0;
      padding: 100px 50px;
      background: none;
      @include bdb;
    }

    @include md{
      padding: 70px 30px;
    };

    @include sm{
      display: none;
    };


    &__title {
      font-size: 64px;
      font-weight: 300;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: vh(20);

      @include lg {
        font-size: 40px;
      }
    ;
      @include slg {
        font-size: 36px;
        margin-bottom: 0;
      }
    ;
    }

    &__subtitle {
      color: $Selective-yellow;
      font-size: 25px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 0.92px;
      text-align: center;
      margin-bottom: vh(60);
      @include lg {
        font-size: 19px;
        margin-bottom: 20px;
      }
    ;
      @include slg {
        font-size: 17px;
        margin-bottom: 15px;
      }
    ;
    }

    &__calc {
      display: flex;
      justify-content: center;
    }

    &__menu {
      position: absolute;
      z-index: 30;
      top: 0;
      left: 325px;
      right: vw(140);
      @include lg {
        display: none;
      }
    ;
    }
  }

  &-cat {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    margin-left: -325px;
    padding-left: 325px;
    overflow: hidden;
    padding-right: 350px;

    @include xlg {
      padding-right: 300px;
    };
    @include lg {
      margin: 0;
      padding: 100px 52px 0 0;
      @include bdb;
    };
    @include slg{
      padding: 70px 0 0 0;
    };
    @include sm{
      padding-top: 30px;
    };


    &__title {
      font-size: 63px;
      font-weight: 300;
      text-transform: uppercase;
      margin-bottom: vh(20);
      @include lg {
        font-size: 46px;
      }
      @include slg{
        text-align: center;
      };
      @include sm{
        font-size: 24px;
      };

    }

    &__subtitle {

      color: $Selective-yellow;
      font-size: 25px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 0.92px;
      margin-bottom: vh(70);
      @include lg {
        font-size: 19px;
        margin-bottom: 25px;
      }
      @include slg{
        text-align: center;
      };
      @include sm{
        font-size: 17px;
      };
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      position: relative;

      &:hover {
        .index-cat__link{
          right: -50px;
          @include slg{
            right: 0;
          };
        }
      }
    }

    &__item {
      width: 25%;
      position: relative;
      z-index: 20;
      @include xs{
        width: 50%;
      };

      &_5 {
        width: 20%;
        @include smd{
          width: calc(100%/3);
        };
      }

      &:hover {
        .index-cat__item-pic {
          transform: scale(1.2);
        }
      }

      &-img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &-pic {
        display: block;
        transition: .4s;
        max-width: 70%;
        max-height: 100px;
      }

      &-title {
        color: rgba($text, .7);
        font-size: 13px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 7%;
        text-align: center;
        transition: .3s;
        @include sm{
          font-size: 11px;
        };
      }
    }

    &__link {
      position: absolute;
      z-index: 10;
      top: 0;
      bottom: 0;
      right: 0px;
      width: 50px;
      border: 1px solid #ccc;
      transition: .7s;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        border: 1px solid $Selective-yellow;

        &:before {
          border-color: transparent transparent transparent $Selective-yellow;
        }
      }

      &:before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 0 10px 15px;
        border-color: transparent transparent transparent #ccc;
        transition: .7s;
      }
    }

    &__menu {
      position: absolute;
      z-index: 30;
      top: 0;
      left: 325px;
      right: vw(140);
      @include lg {
        display: none;
      }
    ;
    }
  }

  &-seo {
    background: url("../images/bg/indexSeoBg.jpg") 0 0 no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-left: -325px;
    padding-left: 325px;
    overflow: hidden;
    padding-right: 300px;

    @include xlg {
      padding-top: vh(100);
    }
    @include lg {
      margin: 0;
      padding: 100px;
      @include bdb;
    }
    @include md{
      padding: 40px 50px;
    };
    @include sm{
      padding: 20px 15px;
    };

    &__title {
      display: flex;
      justify-content: center;
      margin-bottom: vh(70);
    }

    &__menu {
      position: absolute;
      z-index: 30;
      top: 0;
      left: 325px;
      right: vw(140);
      @include lg {
        display: none;
      }
    ;
    }

    &__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: vh(70);
    }

    &__item {
      padding: 12px 30px;

      @include xlg {
        padding: 10px 20px;
      }
      @include sm{
        padding: 5px 8px;
      };

      &-title {
        color: rgba($text, .5);
        font-size: 32px;
        font-weight: 300;
        transition: .4s;
        cursor: pointer;
        @include xlg {
          font-size: 24px;
        }
        @include sm{
          font-size: 17px;
        };
      }
    }

    &__label {
      display: block;
    }

    &__input {
      display: none;

      &:checked + .index-seo__item-title {
        color: $text;
      }
    }

    &__button {
      display: flex;
      justify-content: center;
    }
  }

  &-bottom {
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: -325px;
    position: relative;
    @include lg {
      margin-left: -230px;
      overflow: initial;
    };
    @include slg{
      margin: 0;
    };

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: rgba($text, .3);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: rgba($Selective-yellow, .5);
    }


    &__menu {
      position: absolute;
      z-index: 30;
      top: 0;
      left: 325px;
      right: vw(140);
      @include lg {
        display: none;
      }
    ;
    }

    &__wrapper {
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      right: 0;
      background-image: url(../images/bg/bottom.jpg);
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: cover;
      padding-left: 325px;
      padding-right: 250px;
      padding-top: vh(300);
      display: flex;
      flex-direction: column;

      @include xlg {
        padding-top: vh(170);
        padding-right: 100px;
      }
      @include lg {
        padding-right: 50px;
        padding-left: 230px;
        padding-top: 80px;
        position: static;
      }
      @include slg{
        padding: 80px 15px 0 15px;
      }
      @include sm{
        padding: 20px 15px 0 15px;
      }
    }


    .footer {


    }
  }

  &__best {
    margin-bottom: vh(150);
  }

  &__rev {
    margin-bottom: vh(180);
    @include smd{
      margin-bottom: 100px;
    };
    @include sm{
      margin-bottom: 50px;
    };
    @include xs{
      margin-bottom: 100px;
    };
  }

  &__blog {
    margin-bottom: vh(170);
    @include smd{
      margin-bottom: 100px;
    };
    @include sm{
      margin-bottom: 50px;
    };
  }

  &__work {
    margin-bottom: vh(150);
    @include xlg {
      margin-bottom: vh(70);
    }
    @include sm{
      margin-bottom: 50px;
    };
  }

  &__send{
    @include sm{
      margin-bottom: 50px;
    };
  }

  &__why {
    margin-bottom: vh(125);
  }

  &__footer {
    margin-left: -325px;
    margin-right: -250px;
    @include lg {
      margin-left: 0px;
      margin-right: 0;
    }
  ;
  }

}

.monster {
  height: vh(1023);
  width: vh(1154);
  background: url('/images/icons/sprite.png') left center;
  background-size: cover;

  animation: play 0.8s steps(6) infinite;
}

@keyframes play {
  100% {
    background-position: -600%;
  }
}

.monster2 {
  height: vh(1023);
  width: vh(1154);
  background: url('/images/icons/sprite2.png') left center;
  background-size: cover;
  animation: play2 3.8s steps(30) infinite;

}

@keyframes play2 {
  100% {
    background-position: -600%;
  }
}

@keyframes play3 {
  100% {
    background-position: -300%;
  }
}