.news {
  background: url("../images/bg/newsBg.jpg") 0 0 no-repeat;
  //background-size: 100% 100%;
  padding-top: 520px;

  &__title {
    font-size: 191px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #1f1f1f;
    opacity: .5;
  }

  &-them {
    margin-bottom: 90px;
    padding: 35px 250px 20px 70px;
    position: relative;

    margin-left: -20px;
    margin-right: -20px;

    display: flex;
    flex-wrap: wrap;
    justify-content:center;


    &:after, &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 270px;
      height: 1px;
      background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 30%,rgba(255,255,255,0.3) 70%,rgba(255,255,255,0) 100%);
    }
    &:before {
      top: 0;
    }
    &:after {
      bottom: 0;
    }

    &__item {
      font-size: 16px;
      margin-bottom: 15px;
      padding: 0 20px;
    }

    &__count {
      color: #797979;
    }


  }

  &-arts {
    padding: 0 270px 125px 90px;
  }

  &-send {
    .banner-send {
      //padding-left: 325px;
    }
  }

  .bottom {
    background: none;
    //background: url("../images/bg/newsBg.jpg") 0 bottom no-repeat;
    padding-top: 130px;
  }
}



