.port {
  background: url("/images/bg/promoteBg.jpg") 0 0 no-repeat;
  background-size: cover;

  &-lap {
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    position: relative;
    z-index: 10;

    &__bgvideo {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: hidden;

      &-video {
        width: 100%;
      }
    }

    .container3 {
      position: relative;
      z-index: 20;
      padding: 0 175px;
      padding-top: 250px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }


    &__bottom {
      position: absolute;
      z-index: 10;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100px;
    }

    &__bread {
      margin-bottom: 40px;
    }

    &__wrapper {
      position: relative;
      z-index: 20;
      width: 100%;
    }

    &__wrap {
      background-image: url(../images/bg/laptop.png);
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: cover;

      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &__container {
      position: absolute;
      top: 2.5%;
      left: 11%;
      right: 11%;
    }

    &__drug {
      width: 60px;
      position: absolute;
      right: -30px;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: .4s;
      background: url("../images/bg/beforeAfterRound.png") center center no-repeat;
    }

    &__before, &__after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      user-select: none;

    }

    &__before {
      z-index: 20;
      right: 50%;
      text-align: left;
      border-right: 1px dashed #c70541;

      &-wrap {
        overflow: hidden;
        width: 100%;
        height: 100%;
      }
    }

    &__after {
      z-index: 10;
      text-align: right;
      overflow: hidden;
    }

    &__img {
      width: auto;
      max-width: initial;
      height: 100%;
    }
  }

  &-desc {
    //background: #363471;
    margin-top: -175px;
    padding: 0 180px;
    padding-top: 225px;
    padding-bottom: 150px;

    &__logo {
      margin-bottom: 55px;
      text-align: center;
    }

    &__title {
      color: rgba($text, .8);
      font-size: 33px;
      font-weight: 300;
      line-height: 48.56px;
      margin-bottom: 40px;
      text-align: center;
    }

    &__sub {
      color: rgba($text, .8);
      font-size: 19px;
      font-weight: 300;
      line-height: 31px;
      margin-bottom: 100px;
      text-align: center;
    }

    &__list {
      margin-left: -10px;
      margin-right: -10px;
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      width: calc(25% - 20px);
      margin-left: 10px;
      margin-right: 10px;

      &-title {
        text-align: center;
        font-weight: 500;
        margin-bottom: 20px;
        padding-bottom: 20px;
        position: relative;

        &:after {
          content: '';
          display: block;
          position: absolute;
          height: 1px;
          left: 0;
          right: 0;
          bottom: 0;
          background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.2) 80%, rgba(255, 255, 255, 0) 100%);
        }
      }

      &-val {
        font-size: 80px;
      }

      &-type {
        font-size: 50px;
      }

      &-text {
        text-align: center;
        color: rgba($text, .5);
        font-size: 21px;
        font-weight: 500;
      }
    }
  }

  &-slider {
    padding-right: 100px;
    padding-left: 110px;
    padding-top: 115px;
    position: relative;

    &__top {
      display: flex;
      flex-wrap: wrap;
      margin-left: -50px;
      margin-right: -50px;
    }

    &__title {
      color: $bg;
      font-size: 60px;
      font-weight: 500;
      line-height: 75px;
      text-transform: uppercase;
      width: calc(26.5% - 100px);
      margin-left: 50px;
      margin-right: 50px;
    }

    &__desc {
      color: #010101;
      font-size: 32px;
      font-weight: 300;
      line-height: 50px;
      width: calc(50% - 100px);
      margin-left: 50px;
      margin-right: 50px;
    }

    &__nav {
      width: calc(23.5% - 65px);
      margin-left: 15px;
      margin-right: 50px;
      padding-top: 100px;
      display: flex;
      align-items: center;
    }

    &__prev, &__next {
      min-width: 90px;
      cursor: pointer;
      outline: none;
    }

    &__pagination {
      display: flex;
      height: 158px;
      color: rgba($bg, .3);
      font-size: 60px;
      font-weight: 500;
      text-transform: uppercase;
      line-height: 40px;

      .swiper-pagination-current {
        color: #c70541;
        min-width: 38px;
        text-align: right;
      }

      .swiper-pagination-seporator {
        min-width: 1px;
        width: 1px;
        height: 100%;
        background-color: rgba($bg, .3);
        margin-left: 12px;
        margin-right: 12px;
      }

      .swiper-pagination-total {
        margin-top: 30px;
        min-width: 38px;
        text-align: left;
      }

    }

    &__slider {
      margin-right: -100px;
      position: relative;
      z-index: 20;
    }

    &__container {
      padding-bottom: 60px;
    }

    &__slide {
      width: auto;
      height: 445px;
      overflow: hidden;
      box-shadow: 0px 7px 30px 0px rgba(0, 0, 0, 0.3);
    }

    &__img {
      display: block;
      height: 100%;
    }

    &__bottom {
      height: 340px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  &-icons {
    //padding: 60px 100px 130px 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &__title {
      font-size: 60px;
      font-weight: 500;
      text-transform: uppercase;
      margin-right: 115px;
    }
  }

  &-proj {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 100px;

    &__left {
      width: 1009px;
      position: relative;
      box-shadow: -2px 34px 100px rgba(0, 0, 0, 0.72);
    }

    &__img {
      position: absolute;
      top: 0;
      //bottom: 0;
      left: 0;
      //right: 0;
      overflow: hidden;

      &-img {
        //height: 100%;
        display: block;
      }
    }

    &__right {
      width: calc(100% - 1009px);
    }

    &__title {
      font-size: 60px;
      font-weight: 500;
      text-transform: uppercase;
      max-width: 360px;
    }

    &__list {

    }

    &__item {

      &-line {
        background: linear-gradient(to right, rgba(200, 8, 67, 1) 0%, rgba(200, 8, 67, 0) 100%);
        position: absolute;
        right: 15px;
        width: 590px;
        bottom: 0;
        height: 1px;
      }

      &-title {
        color: $bg;
        font-size: 27px;
        font-weight: 700;
        text-transform: uppercase;
        padding-bottom: 30px;
        margin-bottom: 20px;
        position: relative;
        max-width: 360px;
      }

      &-desc {
        color: $bg;
        font-size: 19px;
        font-weight: 300;
        line-height: 31px;
        max-width: 360px;
      }
    }

    &__recom {

      &-title {
        color: $text;
        font-size: 27px;
        font-weight: 700;
        text-transform: uppercase;
        padding-bottom: 25px;
        margin-bottom: 20px;
        position: relative;
        max-width: 360px;
      }

      &-line {
        background: linear-gradient(to right, rgba(#898991, 1) 0%, rgba(#898991, 0) 100%);
        position: absolute;
        right: 15px;
        width: 570px;
        bottom: 0;
        height: 1px;
      }

      &-desc {
        font-size: 19px;
        font-weight: 300;
        line-height: 31px;
        max-width: 360px;
      }
    }
  }

  &-pages {
    padding: 70px 110px 220px 110px;
    position: relative;

    &__title {
      font-size: 60px;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 50px;
    }

    &__arrow {
      padding-left: 75px;
    }

    &__imgs {
      width: 1705px;
      height: 1158px;
      position: absolute;
      top: 95px;
      left: 325px;
    }
  }

  &-team {
    padding-top: 315px;
    padding-right: 100px;
    padding-left: 110px;

    &__title {
      color: $bg;
      font-size: 60px;
      font-weight: 500;
      line-height: 75px;
      text-transform: uppercase;
      margin-bottom: 70px;
    }

    &__img {
      opacity: .5;
      margin-bottom: 200px;
    }

    &__list {
      margin-left: -110px;
      display: flex;
      flex-wrap: wrap;
    }

    &__col {
      width: calc(100% / 3);
      padding: 120px;
      padding-bottom: 110px;
      padding-top: 0;
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        width: 1px;
        top: 0;
        bottom: 0;
        background: linear-gradient(to bottom, rgba($bg, 0) 0%, rgba($bg, 0.3) 100%);
      }

      &:before {
        content: '';
        display: block;

        width: 5px;
        height: 5px;
        border: 1px solid rgba($bg, .2);
        position: absolute;
        right: -2px;
        top: 7px;

      }

      &:last-child {
        &:after, &:before {
          display: none;
        }
      }

      &:first-child {
        padding-left: 110px;

        .port-team__item:first-child {
          position: absolute;
          left: 110px;
          bottom: calc(100% + 40px);
        }
      }

    }

    &__item {
      color: $bg;
      font-size: 21px;
      margin-bottom: 45px;


      &:last-child {
        margin-bottom: 0;
      }

      &-title {
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 10px;
      }
    }
  }

  &-adapt {

    &__title {
      padding: 250px 15px 170px 35px;
      font-size: 80px;
      font-weight: 700;
      text-transform: uppercase;
    }

    &__top {
      padding: 0 170px;
    }

    &__list {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }

    &__item {

      &-img {
        margin-bottom: 30px;
      }

      &-desc {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0 15px;
      }

      &-title {
        font-size: 30px;
        font-weight: 300;
      }

      &-px {
        font-size: 20px;
        font-weight: 300;
      }
    }

    &__middle {
      background: #353535;
      padding: 680px 170px 210px 170px;
      margin-top: -520px;


      color: rgba($text, .8);
      font-size: 33px;
      font-weight: 100;
      line-height: 48.56px;
      text-align: center;
    }

    &__bottom {
      padding: 270px 150px;
      background: $text;
    }

    &__proj {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

  }

  .bottom {
    background: none;
    padding-top: 130px;
  }
}

.stroym {
  .port {
    &-icons {
      padding: 60px 100px 130px 100px;

      &__title {
        text-shadow: 0 2px 0 rgba(255, 255, 255, 0.5);
        color: $bg;
      }
    }

    &-proj {

      &__block {

        &:nth-child(1) {
          padding: 110px;
          padding-top: 100px;
          padding-right: 15px;
          padding-bottom: 143px;
          background: #ffb40c;
        }

        &:nth-child(2) {
          background: #ffffff;
          padding: 130px 15px 130px 85px;
          background: #ffffff;
          padding-bottom: 309px;
        }

        &:nth-child(3) {
          background: #363471;
          padding: 135px 15px 70px 85px;
          padding-bottom: 71px;
        }
      }


      &__title {
        text-shadow: 0 2px 0 rgba(255, 255, 255, 0.5);
        color: $bg;
      }

      &__sub {
        color: #fbfbfb;
        font-size: 26px;
        font-style: italic;
        color: #999999;
      }

      &__recom {

      }
    }
  }
}

.blacksmith {

  &.port {
    background: url("/images/content/portfolio/project2/bottom.jpg") 0 bottom no-repeat;
  }

  &__button {
    font-size: 26px;
    font-style: italic;
    color: #999999;
    transition: .3s;

    &:first-child {
      margin-right: 15px;
    }

    &.active {
      text-decoration: underline;
      color: #fbfbfb;
    }


  }

  .port {

    &-lap {
      &__bottom {
        background: #121212;
      }
    }

    &-desc {
      padding-top: 165px;
      margin-top: -80px;
    }

    &-icons {
      padding: 60px 0 130px 100px;
    }

    &-proj {
      background: $text;

      &__left {
        z-index: 10;
      }

      &__block {
        &:nth-child(1) {
          padding: 0 15px 90px 90px;
          background: #050a15;
        }

        &:nth-child(2) {
          padding: 100px 15px 184px 100px;
        }

        &:nth-child(3) {
          background: linear-gradient(to left, #ec7d41 0%, #ec3c3e 100%);
          padding: 115px 15px 120px 60px;
        }

        &:nth-child(4) {
          padding-bottom: 737px;
        }

        &:nth-child(5) {
          background: linear-gradient(to left, #ec7d41 0%, #ec3c3e 100%);
          padding: 176px 15px 110px 60px;
          padding-top: 147px;
        }

        &:nth-child(6) {
          padding-bottom: 788px;
        }

        &:nth-child(7) {
          background: linear-gradient(to left, #ec7d41 0%, #ec3c3e 100%);
          padding: 170px 15px 154px 60px;
        }

        &:nth-child(8) {
          padding-bottom: 286px;
        }
      }

      &__title {
        color: #ec3e3e;
        font-size: 60px;
        font-weight: 700;
        text-transform: uppercase;
        //line-height: 1;
      }

      &__item {
        &:first-child {
          margin-bottom: 300px;
        }
      }

      &__recom {
        &-line {
          background: linear-gradient(to right, rgba(200, 8, 67, 1) 0%, rgba(200, 8, 67, 0) 100%);
        }
      }
    }

    &-team {
      background: #ffffff;
      padding-top: 40px;

      &__title {
        font-size: 80px;
      }
    }
  }
}

.akademi {

  &.port {
    background: url("/images/content/portfolio/project3/bottom.jpg") 0 bottom no-repeat;
  }

  .port {

    &-lap {
      &__bottom {
        background: #353535;
      }
    }

    &-desc {
      padding-top: 165px;
      margin-top: -80px;
      background: #353535;
    }

    &-slider {
      background: $text;

      &__bottom {
        background: #353535;
      }

    }

    &-icons {
      background: #353535;
      color: $text;
      padding: 80px 110px;
      padding-right: 0;
    }

    &-proj {
      background: $text;
      padding-bottom: 180px;

      &__left {
        z-index: 10;
      }

      &__block {
        &:nth-child(1) {
          background: #353535;
          padding: 0 15px 90px 90px;
        }

        &:nth-child(2) {
          padding: 70px 0 160px 100px;
        }
      }

      &__item {
        &:nth-child(1) {
          margin-bottom: 750px;
        }

        &:nth-child(2) {
          margin-bottom: 850px;
        }

        &:nth-child(3) {
          margin-bottom: 1050px;
        }
      }
    }

    &-team {
      background: $text;
    }


    &-team {
      padding-top: 0;
    }

  }
}

.balconies {

  &.port {
    background: url("/images/content/portfolio/project4/bottom.jpg") 0 bottom no-repeat;
  }

  .port {

    &-lap {
      &__bottom {
        background: #26283d;
      }
    }

    &-desc {
      padding-top: 165px;
      margin-top: 0;
      background: #26283d;
    }

    &-slider {
      background: $text;

      &__bottom {
        background: #f4b953;
      }

    }

    &-icons {
      background: #f4b953;
      color: $bg;
      padding: 80px 110px;
      padding-right: 0;
    }

    &-proj {

      &_1 {
        background: #2a2c41;
        padding-bottom: 160px;

        .port-proj__block {

          &:nth-child(1) {
            padding: 0 15px 90px 90px;
            background: #F4B953;
          }

          &:nth-child(2) {
            padding: 140px 15px 322px 100px;
            background: $text;

            .port-proj__item {
              &:nth-child(1) {
                margin-bottom: 290px;
              }
            }
          }

          &:nth-child(3) {
            padding: 120px 15px 50px 60px;
            background: #f4b953;
          }

          &:nth-child(4) {
            padding-bottom: 985px;
            background: $text;
          }

          &:nth-child(5) {
            padding: 80px 15px 185px 60px;
          }
        }

      }

      &_2 {
        background: $text;
        padding-bottom: 200px;

        .port-proj__block {
          &:nth-child(1) {
            padding: 0 15px 748px 80px;
          }

          &:nth-child(2) {
            background: #f4b953;
            padding: 100px 15px 70px 50px;

            .port-proj__item {
              &:nth-child(1) {
                margin-bottom: 340px;
              }
            }
          }

          &:nth-child(3) {
            padding-bottom: 1280px;
          }

          &:nth-child(4) {
            padding: 60px 15px 250px 50px;

            .port-proj__item {
              &:nth-child(1) {
                margin-bottom: 270px;
              }
            }
          }
        }
      }


      &__left {
        //z-index: 10;
      }

      &__title {
        color: $bg;
      }
    }

    &-pages {
      background: #2a2c41;
      padding: 0px 145px 100px 165px;

      &-bottom {
        background: $text;
        padding-bottom: 980px;
      }


      &__imgs {
        top: 140px;
        left: 90px;
      }
    }

    &-adapt {

      &__bottom {
        padding: 160px 130px;
        padding-bottom: 0;
      }
    }

    &-team {
      padding-top: 0;
      background: $text;
      margin-top: -500px;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-right {
      font-size: 18px;
      font-weight: 100;
      text-transform: none;
    }
  }

  &__subtitle {
    opacity: 0.5;
    text-shadow: 0 2px 0 rgba(255, 255, 255, 0.5);
    color: $bg;
    font-size: 26px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 20px;
  }
}

.bosh {
  &.port {
    background: url("/images/content/portfolio/project5/bottom.jpg") 0 bottom no-repeat;
  }

  .port {

    &-lap {
      &__bottom {
        background: #2c3e50;
      }
    }

    &-desc {
      padding-top: 165px;
      margin-top: -80px;
      background: #2c3e50;
    }

    &-slider {
      background: $text;

      &__bottom {
        background: #2c3e50;
      }

    }

    &-icons {
      padding: 60px 0 130px 100px;
      background: #2c3e50;
    }

    &-proj {

      &_1 {
        background: #2f4051;
        padding-bottom: 260px;

        .port-proj__block {

          &:nth-child(1) {
            padding: 0 15px 90px 90px;
            background: #2f4051;
          }

          &:nth-child(2) {
            padding: 70px 15px 346px 100px;
            background: $text;

            .port-proj__item {
              &:nth-child(1) {
                margin-bottom: 750px;
              }

              &:nth-child(2) {
                margin-bottom: 700px;
              }
            }

          }

          &:nth-child(3) {
            padding: 40px 15px 30px 100px;
            background: #2f4051;

            .port-proj__item {
              &-title {
                color: $text;
              }

              &-desc {
                color: $text;
              }
            }
          }
        }

      }

      &_2 {
        background: #2f4051;
        padding-bottom: 260px;

        .port-proj__block {

          &:nth-child(1) {
            padding: 0 15px 90px 90px;
            background: #2f4051;
          }

          &:nth-child(2) {
            padding: 550px 15px 340px 60px;
            background: $text;
          }

          &:nth-child(3) {
            padding-bottom: 220px;
            background: #2f4051;
          }
        }

      }

      &_3 {
        background: #2f4051;
        padding-bottom: 330px;

        .port-proj__block {

          &:nth-child(1) {
            padding: 0 15px 90px 90px;
            background: #2f4051;
          }

          &:nth-child(2) {
            padding: 560px 15px 430px 60px;
            background: $text;
          }

          &:nth-child(3) {
            padding-bottom: 180px;
            background: #2f4051;
          }
        }

      }

      &_4 {
        background: $text;
        padding-bottom: 290px;

        .port-proj__block {

          &:nth-child(1) {
            padding: 0 15px 210px 90px;
            background: #2f4051;
          }

          &:nth-child(2) {
            padding: 180px 15px 180px 60px;
            background: $text;
          }
        }

      }

      &__left {
        z-index: 10;
      }
    }

    &-adapt {

      &__bottom {
        padding: 160px 130px;
        padding-bottom: 0;
      }
    }

    &-team {
      padding-top: 0;
      background: $text;
      margin-top: -500px;
    }
  }
}

.svda {
  &.port {
    background: url("/images/content/portfolio/project6/bottom.jpg") 0 bottom no-repeat;
  }

  .port {

    &-lap {
      &__bottom {
        background: $text;
      }
    }

    &-desc {
      padding-top: 165px;
      margin-top: -80px;
      background: $text;

      &__title {
        color: $bg;
      }

      &__sub {
        color: $bg;
      }

      &__item {

        &-title {
          &:after {
            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(#0c0c0c, 0.2) 20%, rgba(#0c0c0c, 0.2) 80%, rgba(255, 255, 255, 0) 100%);
          }
        }

        &-val, &-type {
          color: #cc0000;
        }

        &-text {
          color: $bg;
          opacity: 0.5;
        }
      }
    }

    &-slider {
      background: $text;

      &__bottom {
        background: #252525;
      }

    }

    &-icons {
      padding: 60px 0 130px 100px;
      background: #252525;
    }

    &-proj {

      &__title {
        color: #ee3333;
      }

      &_1 {
        background: #333333;
        padding-bottom: 260px;

        .port-proj__block {

          &:nth-child(1) {
            background: #252525;
            padding: 0 15px 90px 90px;
          }

          &:nth-child(2) {
            padding: 320px 15px 100px 60px;
            background: $text;

            .port-proj__item {
              &:nth-child(1) {
                margin-bottom: 240px;
                padding-left: 40px;
              }

              &:nth-child(2) {
                margin-bottom: 270px;
              }

              &:nth-child(3) {
                margin-bottom: 378px;
              }
            }

          }

          &:nth-child(3) {
            padding-bottom: 320px;
          }
        }

      }

      &_2 {
        background: #333333;
        padding-bottom: 350px;

        .port-proj__block {

          &:nth-child(1) {
            padding: 0 15px 250px 90px;
          }

          &:nth-child(2) {
            padding: 550px 15px 893px 60px;
            background: $text;
          }

          &:nth-child(3) {
            padding-bottom: 330px;

          }
        }

      }

      &_3 {
        background: #333333;
        padding-bottom: 0;

        .port-proj__block {

          &:nth-child(1) {
            padding: 0 15px 110px 90px;
            background: #333333;
          }

          &:nth-child(2) {
            padding: 790px 15px 660px 60px;
            background: $text;
          }

        }

      }

      &_4 {
        background: $text;
        padding-bottom: 290px;

        .port-proj__block {

          &:nth-child(1) {
            padding: 0 15px 210px 90px;
            background: #2f4051;
          }

          &:nth-child(2) {
            padding: 180px 15px 180px 60px;
            background: $text;
          }
        }

      }

      &__left {
        //z-index: 10;
        box-shadow: 12px -12px 117px rgba(102, 102, 102, 0.14);
      }
    }


    &-team {
      padding-top: 230px;
      background: $text;
    }
  }
}

.vita {
  &.port {
    background: url("/images/content/portfolio/project7/bottom.jpg") 0 bottom no-repeat;
  }

  .port {

    &-lap {
      &__bottom {
        background: #f9f9fa;
      }
    }

    &-desc {
      padding-top: 165px;
      margin-top: -80px;
      background: #f9f9fa;

      &__title {
        color: $bg;
      }

      &__sub {
        color: $bg;
      }

      &__item {

        &-title {
          &:after {
            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(#0c0c0c, 0.2) 20%, rgba(#0c0c0c, 0.2) 80%, rgba(255, 255, 255, 0) 100%);
          }
        }

        &-val, &-type {
          color: #633278;
        }

        &-text {
          color: $bg;
          opacity: 0.5;
        }
      }
    }

    &-slider {
      background: #f9f9fa;
      padding-bottom: 180px;

      &__bottom {
        background: #f9f9fa;
      }

    }


    &-proj {

      &__title {
        color: $bg;
      }

      &_1 {
        background: #f9f9fa;
        padding-bottom: 260px;

        .port-proj__block {

          &:nth-child(1) {
            padding: 0 15px 265px 90px;
          }

          &:nth-child(2) {
            padding: 120px 15px 120px 60px;
            background: $text;

            .port-proj__item {
              &:nth-child(1) {
                margin-bottom: 460px;
                padding-left: 40px;
              }
            }

          }

          &:nth-child(3) {
            padding-bottom: 25px;
          }
        }

      }

      &_2 {
        background: #f9f9fa;
        padding-bottom: 340px;

        .port-proj__block {

          &:nth-child(1) {
            padding: 0 15px 90px 90px;
          }

          &:nth-child(2) {
            padding: 150px 15px 215px 60px;
            background: $text;

            .port-proj__item {
              &:nth-child(1) {
                margin-bottom: 1460px;
                padding-left: 40px;
              }
            }
          }

          &:nth-child(3) {
            padding-bottom: 30px;

          }
        }

      }

      &_3 {
        background: #f9f9fa;
        padding-bottom: 0;

        .port-proj__block {

          &:nth-child(1) {
            padding: 0 15px 90px 90px;
          }

          &:nth-child(2) {
            padding: 300px 15px 320px 60px;
            background: $text;
          }

        }

      }

      &__left {
        //z-index: 10;
        box-shadow: 12px -12px 117px rgba(102, 102, 102, 0.14);
      }
    }


    &-team {
      padding-top: 170px;
      background: $text;
    }
  }
}

.kavkaz {
  &.port {
    background: url("/images/content/portfolio/project8/bottom.jpg") 0 bottom no-repeat;
  }

  .port {

    &-lap {
      &__bottom {
        background: #1d1d1d;
      }
    }

    &-desc {
      padding-top: 165px;
      margin-top: -80px;
      background: #1d1d1d;


      &__item {

        &-title {
          &:after {
            display: none;
            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(#0c0c0c, 0.2) 20%, rgba(#0c0c0c, 0.2) 80%, rgba(255, 255, 255, 0) 100%);
          }
        }

        &-val, &-type {
          color: #b90808;
        }

        &-text {
          color: $text;
          opacity: 0.5;
        }
      }
    }

    &-slider {
      background: #f9f9fa;
      padding-bottom: 180px;

      &__bottom {
        height: 550px;
        background: #7d020e;
      }

    }


    &-proj {


      &_1 {
        background: #7d020e;
        padding-bottom: 260px;

        .port-proj__block {

          &:nth-child(1) {
            padding: 0 15px 265px 90px;
          }

          &:nth-child(2) {
            padding: 120px 15px 40px 60px;
            background: $text;

            .port-proj__item {
              &:nth-child(1) {
                margin-bottom: 253px;
                padding-left: 40px;
              }

              &:nth-child(2) {
                margin-bottom: 253px;
              }

              &:nth-child(3) {
                margin-bottom: 310px;
              }

              &:nth-child(4) {
                margin-bottom: 185px;
              }
            }

          }

          &:nth-child(3) {
            padding-bottom: 150px;
          }
        }

      }

      &_2 {
        background: #7d020e;
        padding-bottom: 300px;

        .port-proj__block {

          &:nth-child(1) {
            padding: 0 15px 112px 90px;
          }

          &:nth-child(2) {
            padding: 200px 15px 390px 60px;
            background: $text;

            .port-proj__item {
              &:nth-child(1) {
                margin-bottom: 590px;
                padding-left: 40px;
              }
            }
          }

          &:nth-child(3) {
            padding-bottom: 120px;

          }
        }

      }

      &_3 {
        background: #7d020e;
        padding-bottom: 0;

        .port-proj__block {

          &:nth-child(1) {
            padding: 0 15px 75px 90px;
          }

          &:nth-child(2) {
            padding: 160px 15px 470px 60px;
            background: $text;

            .port-proj__item {
              &:nth-child(1) {
                margin-bottom: 320px;
              }

              &:nth-child(2) {
                margin-bottom: 340px;
              }
            }
          }

        }

      }

      &__left {
        //z-index: 10;
        box-shadow: 12px -12px 117px rgba(102, 102, 102, 0.14);
      }
    }


    &-team {
      padding-top: 240px;
      background: $text;
    }
  }
}

.santehnika {

  &.port {
    background: url("/images/content/portfolio/project9/bottom.jpg") 0 bottom no-repeat;
  }

  .port {

    &-lap {
      &__bottom {
        background: #f8f9fb;
      }
    }

    &-desc {
      padding-top: 165px;
      margin-top: 0;
      background: #f8f9fb;

      &__title, &__sub {
        color: $bg;
      }

      &__item {
        &-val, &-type {
          color: #c02525;
        }

        &-text {
          color: $bg;
          opacity: .5;
        }
      }
    }

    &-slider {
      background: $text;
      padding-bottom: 170px;

      &__bottom {
        background: #f8f9fb;
      }

    }

    &-proj {

      &_1 {
        background: #f8f9fb;
        padding-bottom: 260px;

        .port-proj__block {

          &:nth-child(1) {
            padding: 0 15px 275px 90px;
          }

          &:nth-child(2) {
            padding: 250px 15px 524px 100px;
            background: $text;

            .port-proj__item {
              &:nth-child(1) {
                margin-bottom: 650px;
              }

              &:nth-child(2) {
                margin-bottom: 590px;
              }
            }
          }

          &:nth-child(3) {
            padding-bottom: 235px;
          }
        }

      }

      &_2 {
        background: #f8f9fb;
        padding-bottom: 280px;

        .port-proj__block {
          &:nth-child(1) {
            padding: 0 15px 108px 100px;
          }

          &:nth-child(2) {
            background: $text;
            padding: 390px 15px 1135px 100px;
          }

          &:nth-child(3) {
            padding-bottom: 160px;
          }
        }
      }

      &_3 {
        background: #f8f9fb;
        padding-bottom: 240px;

        .port-proj__block {


          &:nth-child(1) {
            padding: 0 15px 90px 90px;
          }

          &:nth-child(2) {
            padding: 140px 15px 170px 100px;
            background: $text;

            .port-proj__item {
              &:nth-child(1) {
                margin-bottom: 265px;
              }

              &:nth-child(2) {
                margin-bottom: 442px;
              }
            }
          }

          &:nth-child(3) {
            padding-bottom: 245px;
          }
        }

      }

      &_4 {
        background: #f8f9fb;
        padding-bottom: 240px;

        .port-proj__block {


          &:nth-child(1) {
            padding: 0 15px 108px 90px;
          }

          &:nth-child(2) {
            padding: 200px 15px 200px 100px;
            background: $text;

            .port-proj__item {
              &:nth-child(1) {
                margin-bottom: 400px;
              }

              &:nth-child(2) {
                margin-bottom: 330px;
              }
            }
          }

          &:nth-child(3) {
            padding: 80px 15px 60px 100px;
          }
        }

      }

      &_5 {
        padding-bottom: 0;
        background: #f8f9fb;

        .port-proj__block {

          &:nth-child(1) {
            padding: 0 15px 108px 90px;
          }

          &:nth-child(2) {
            padding: 70px 15px 720px 100px;
            background: $text;

            .port-proj__item {
              &:nth-child(1) {
                margin-bottom: 550px;
              }

              &:nth-child(2) {
                margin-bottom: 700px;
              }
            }
          }
        }

      }


      &__left {
        //z-index: 10;
        box-shadow: 12px -12px 117px rgba(102, 102, 102, 0.14);
      }

      &__title {
        color: #b41819;
      }
    }

    &-pages {
      background: #ffffff;
      padding: 250px 145px 100px 100px;

      &__title {
        color: #b41819;
      }

      &-bottom {
        background: $text;
        padding-bottom: 850px;
      }


      &__imgs {
        width: 1571px;
        height: 652px;
        top: 400px;
        left: 0;
      }
    }

    &-adapt {

      &__middle {
        background: #b21f1f;
      }

      &__bottom {
        padding: 160px 130px;
        padding-bottom: 0;
      }
    }

    &-team {
      padding-top: 240px;
      background: $text;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-right {
      font-size: 18px;
      font-weight: 100;
      text-transform: none;
    }
  }

  &__subtitle {
    opacity: 0.5;
    text-shadow: 0 2px 0 rgba(255, 255, 255, 0.5);
    color: $bg;
    font-size: 26px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 20px;
  }
}

.animals {

  &.port {
    background: url("/images/content/portfolio/project10/bottom.jpg") 0 bottom no-repeat;
  }

  .port {

    &-lap {
      &__bottom {
        background: #2b7de0;
      }
    }

    &-desc {
      padding-top: 165px;
      margin-top: 0;
      background: #2b7de0;

      &__title, &__sub {
        //color: $bg;
      }

      &__item {
        &-val, &-type {
          //color: #c02525;
        }

        &-text {
          //color: $bg;
          //opacity: .5;
        }
      }
    }

    &-slider {
      background: $text;
      padding-bottom: 170px;

      &__bottom {
        background: #2b7de0;
      }

    }

    &-proj {

      &_1 {
        background: #2b7de0;
        padding-bottom: 320px;

        .port-proj__block {

          &:nth-child(1) {
            padding: 0 15px 90px 90px;
          }

          &:nth-child(2) {
            padding: 140px 15px 140px 100px;
            background: $text;

            .port-proj__item {
              &:nth-child(1) {
                margin-bottom: 420px;
              }

              &:nth-child(2) {
                margin-bottom: 590px;
              }
              &:nth-child(3) {
                margin-bottom: 160px;
              }
            }
          }

          &:nth-child(3) {
            padding-bottom: 120px;
          }
        }

      }

      &_2 {
        background: #2b7de0;
        padding-bottom: 340px;

        .port-proj__block {
          &:nth-child(1) {
            padding: 0 15px 290px 100px;
          }

          &:nth-child(2) {
            background: $text;
            padding: 240px 15px 470px 100px;
          }

          &:nth-child(3) {
            padding-bottom: 150px;
          }
        }
      }

      &_3 {
        background: #2b7de0;
        padding-bottom: 0;

        .port-proj__block {


          &:nth-child(1) {
            padding: 0 15px 160px 90px;
          }

          &:nth-child(2) {
            padding: 700px 15px 70px 100px;
            background: $text;

            .port-proj__item {
              &:nth-child(1) {
                margin-bottom: 950px;
              }
            }
          }

        }

      }


      &__left {
        //z-index: 10;
        box-shadow: 12px -12px 117px rgba(102, 102, 102, 0.14);
      }

      &__title {
        color: $text;
      }
    }

    &-pages {
      background: #ffffff;
      padding: 250px 145px 100px 100px;

      &__title {
        color: #2b7de0;
      }

      &-bottom {
        background: $text;
        padding-bottom: 850px;
      }


      &__imgs {
        width: 1563px;
        height: 742px;
        top: 400px;
        left: 0;
      }
    }

    &-adapt {

      &__middle {
        background: #2b7de0;
      }

      &__bottom {
        padding: 160px 130px;
        padding-bottom: 0;
      }
    }

    &-team {
      padding-top: 240px;
      background: $text;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-right {
      font-size: 18px;
      font-weight: 100;
      text-transform: none;
    }
  }

  &__subtitle {
    opacity: 0.5;
    text-shadow: 0 2px 0 rgba(255, 255, 255, 0.5);
    color: $bg;
    font-size: 26px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 20px;
  }
}

.invision {

  &__list {
    padding: 0 100px;
    background: #232323;
    padding-bottom: 260px;
  }

  &__item {
    margin-bottom: 210px;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    &-title {
      color: $text;
      font-size: 50px;
      text-transform: uppercase;
      margin-bottom: 60px;
    }

    &-num {
      text-shadow: 0 0 51px rgba(0, 0, 0, 0.42);
      color: #232323;
      font-size: 279px;
      font-weight: 300;
      text-transform: uppercase;
      position: absolute;
      z-index: 10;
      top: -80px;
      right: -15px;
      line-height: 1;
    }

    &-img {
      position: relative;
      z-index: 20;
      display: block;
      width: 100%;
    }
  }

  &.port {
    background: url("/images/content/portfolio/project11/bottom.jpg") 0 bottom no-repeat;
  }

  .port {

    &-lap {
      &__bottom {
        background: #232323;
      }
    }

    &-desc {
      padding-top: 165px;
      padding-bottom: 290px;
      margin-top: 0;
      background: #232323;

      &__title, &__sub {
        //color: $bg;
      }

      &__item {
        &-val, &-type {
          color: #c59946;
        }

        &-text {
          //color: $bg;
          //opacity: .5;
        }
      }
    }


    &-team {
      padding-top: 160px;
      background: $text;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-right {
      font-size: 18px;
      font-weight: 100;
      text-transform: none;
    }
  }

  &__subtitle {
    opacity: 0.5;
    text-shadow: 0 2px 0 rgba(255, 255, 255, 0.5);
    color: $bg;
    font-size: 26px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 20px;
  }
}

.gazon {

  &.port {
    background: url("/images/content/portfolio/project9/bottom.jpg") 0 bottom no-repeat;
  }

  .port {

    &-lap {
      &__bottom {
        background: #f8f9fb;
      }
    }

    &-desc {
      padding-top: 165px;
      margin-top: 0;
      background: #f8f9fb;

      &__title, &__sub {
        color: $bg;
      }

      &__item {
        &-val, &-type {
          color: #c02525;
        }

        &-text {
          color: $bg;
          opacity: .5;
        }
      }
    }

    &-slider {
      background: $text;
      padding-bottom: 170px;

      &__bottom {
        background: #f8f9fb;
      }

    }

    &-proj {

      &_1 {
        background: #f8f9fb;
        padding-bottom: 260px;

        .port-proj__block {

          &:nth-child(1) {
            padding: 0 15px 275px 90px;
          }

          &:nth-child(2) {
            padding: 250px 15px 524px 100px;
            background: $text;

            .port-proj__item {
              &:nth-child(1) {
                margin-bottom: 650px;
              }

              &:nth-child(2) {
                margin-bottom: 590px;
              }
            }
          }

          &:nth-child(3) {
            padding-bottom: 235px;
          }
        }

      }

      &_2 {
        background: #f8f9fb;
        padding-bottom: 280px;

        .port-proj__block {
          &:nth-child(1) {
            padding: 0 15px 108px 100px;
          }

          &:nth-child(2) {
            background: $text;
            padding: 390px 15px 1135px 100px;
          }

          &:nth-child(3) {
            padding-bottom: 160px;
          }
        }
      }

      &_3 {
        background: #f8f9fb;
        padding-bottom: 240px;

        .port-proj__block {


          &:nth-child(1) {
            padding: 0 15px 90px 90px;
          }

          &:nth-child(2) {
            padding: 140px 15px 170px 100px;
            background: $text;

            .port-proj__item {
              &:nth-child(1) {
                margin-bottom: 265px;
              }

              &:nth-child(2) {
                margin-bottom: 442px;
              }
            }
          }

          &:nth-child(3) {
            padding-bottom: 245px;
          }
        }

      }

      &_4 {
        background: #f8f9fb;
        padding-bottom: 240px;

        .port-proj__block {


          &:nth-child(1) {
            padding: 0 15px 108px 90px;
          }

          &:nth-child(2) {
            padding: 200px 15px 200px 100px;
            background: $text;

            .port-proj__item {
              &:nth-child(1) {
                margin-bottom: 400px;
              }

              &:nth-child(2) {
                margin-bottom: 330px;
              }
            }
          }

          &:nth-child(3) {
            padding: 80px 15px 60px 100px;
          }
        }

      }

      &_5 {
        padding-bottom: 0;
        background: #f8f9fb;

        .port-proj__block {

          &:nth-child(1) {
            padding: 0 15px 108px 90px;
          }

          &:nth-child(2) {
            padding: 70px 15px 720px 100px;
            background: $text;

            .port-proj__item {
              &:nth-child(1) {
                margin-bottom: 550px;
              }

              &:nth-child(2) {
                margin-bottom: 700px;
              }
            }
          }
        }

      }


      &__left {
        //z-index: 10;
        box-shadow: 12px -12px 117px rgba(102, 102, 102, 0.14);
      }

      &__title {
        color: #b41819;
      }
    }

    &-pages {
      background: #ffffff;
      padding: 250px 145px 100px 100px;

      &__title {
        color: #b41819;
      }

      &-bottom {
        background: $text;
        padding-bottom: 850px;
      }


      &__imgs {
        width: 1571px;
        height: 652px;
        top: 400px;
        left: 0;
      }
    }

    &-adapt {

      &__middle {
        background: #b21f1f;
      }

      &__bottom {
        padding: 160px 130px;
        padding-bottom: 0;
      }
    }

    &-team {
      padding-top: 240px;
      background: $text;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-right {
      font-size: 18px;
      font-weight: 100;
      text-transform: none;
    }
  }

  &__subtitle {
    opacity: 0.5;
    text-shadow: 0 2px 0 rgba(255, 255, 255, 0.5);
    color: $bg;
    font-size: 26px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 20px;
  }
}