.port {
  background: url("../images/bg/promoteBg.jpg") 0 0 no-repeat;
  background-size: cover;

  &-lap {

    .container3 {
      padding: 0 175px;
      padding-top: 250px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__bread {
      margin-bottom: 40px;
    }

    &__wrapper {
      position: relative;
      width: 100%;
    }

    &__wrap {
      background-image: url(../images/bg/laptop.png);
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: cover;

      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &__container {
      position: absolute;
      top: 2.5%;
      left: 11%;
      right: 11%;
    }

    &__drug {
      width: 60px;
      position: absolute;
      right: -30px;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: .4s;
      background: url("../images/bg/beforeAfterRound.png") center center no-repeat;
    }

    &__before, &__after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      user-select: none;

    }

    &__before {
      z-index: 20;
      right: 50%;
      text-align: left;
      border-right: 1px dashed #c70541;

      &-wrap {
        overflow: hidden;
        width: 100%;
        height: 100%;
      }
    }

    &__after {
      z-index: 10;
      text-align: right;
      overflow: hidden;
    }

    &__img {
      width: auto;
      max-width: initial;
      height: 100%;
    }
  }

  &-desc {
    //background: #363471;
    margin-top: -175px;
    padding: 0 180px;
    padding-top: 225px;
    padding-bottom: 150px;

    &__logo {
      margin-bottom: 55px;
      text-align: center;
    }

    &__title {
      color: rgba($text, .8);
      font-size: 33px;
      font-weight: 300;
      line-height: 48.56px;
      margin-bottom: 40px;
      text-align: center;
    }

    &__sub {
      color: rgba($text, .8);
      font-size: 19px;
      font-weight: 300;
      line-height: 31px;
      margin-bottom: 100px;
      text-align: center;
    }

    &__list {
      margin-left: -10px;
      margin-right: -10px;
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      width: calc(25% - 20px);
      margin-left: 10px;
      margin-right: 10px;

      &-title {
        text-align: center;
        font-weight: 500;
        margin-bottom: 20px;
        padding-bottom: 20px;
        position: relative;

        &:after {
          content: '';
          display: block;
          position: absolute;
          height: 1px;
          left: 0;
          right: 0;
          bottom: 0;
          background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.2) 80%, rgba(255, 255, 255, 0) 100%);
        }
      }

      &-val {
        font-size: 80px;
      }

      &-type {
        font-size: 50px;
      }

      &-text {
        text-align: center;
        color: rgba($text, .5);
        font-size: 21px;
        font-weight: 500;
      }
    }
  }

  &-slider {
    padding-right: 100px;
    padding-left: 110px;
    padding-top: 115px;
    position: relative;

    &__top {
      display: flex;
      flex-wrap: wrap;
      margin-left: -50px;
      margin-right: -50px;
    }

    &__title {
      color: $bg;
      font-size: 60px;
      font-weight: 500;
      line-height: 75px;
      text-transform: uppercase;
      width: calc(26.5% - 100px);
      margin-left: 50px;
      margin-right: 50px;
    }

    &__desc {
      color: #010101;
      font-size: 32px;
      font-weight: 300;
      line-height: 50px;
      width: calc(50% - 100px);
      margin-left: 50px;
      margin-right: 50px;
    }

    &__nav {
      width: calc(23.5% - 65px);
      margin-left: 15px;
      margin-right: 50px;
      padding-top: 100px;
      display: flex;
      align-items: center;
    }

    &__prev, &__next {
      min-width: 90px;
      cursor: pointer;
      outline: none;
    }

    &__pagination {
      display: flex;
      height: 158px;
      color: rgba($bg, .3);
      font-size: 60px;
      font-weight: 500;
      text-transform: uppercase;
      line-height: 40px;

      .swiper-pagination-current {
        color: #c70541;
        min-width: 38px;
        text-align: right;
      }

      .swiper-pagination-seporator {
        min-width: 1px;
        width: 1px;
        height: 100%;
        background-color: rgba($bg, .3);
        margin-left: 12px;
        margin-right: 12px;
      }

      .swiper-pagination-total {
        margin-top: 30px;
        min-width: 38px;
        text-align: left;
      }

    }

    &__slider {
      margin-right: -100px;
      position: relative;
      z-index: 20;
    }

    &__container {
      padding-bottom: 60px;
    }

    &__slide {
      width: auto;
      height: 445px;
      overflow: hidden;
      box-shadow: 0px 7px 30px 0px rgba(0, 0, 0, 0.3);
    }

    &__img {
      display: block;
      height: 100%;
    }

    &__bottom {
      height: 340px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  &-icons {
    padding: 60px 100px 130px 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &__title {
      text-shadow: 0 2px 0 rgba(255, 255, 255, 0.5);
      color: $bg;
      font-size: 60px;
      font-weight: 500;
      text-transform: uppercase;
      margin-right: 115px;
    }
  }

  &-proj {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 100px;

    &__left {
      width: 63.7%;
      position: relative;
      box-shadow: -2px 34px 100px rgba(0, 0, 0, 0.72);
    }

    &__img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: hidden;

      &-img {
        height: 100%;
        display: block;
      }
    }

    &__right {
      width: 36.3%;
    }

    &__title {
      text-shadow: 0 2px 0 rgba(255, 255, 255, 0.5);
      color: $bg;
      font-size: 60px;
      font-weight: 500;
      text-transform: uppercase;
      padding: 110px;
      padding-top: 100px;
    }

    &__list {
      padding: 130px 120px 130px 85px;
    }

    &__item {

      &-line {
        background: linear-gradient(to right, rgba(200, 8, 67, 1) 0%, rgba(200, 8, 67, 0) 100%);
        position: absolute;
        right: 15px;
        width: 590px;
        bottom: 0;
        height: 1px;
      }

      &-title {
        color: $bg;
        font-size: 27px;
        font-weight: 700;
        text-transform: uppercase;
        padding-bottom: 30px;
        margin-bottom: 20px;
        position: relative;
      }

      &-desc {
        color: $bg;
        font-size: 19px;
        font-weight: 300;
        line-height: 31px;
      }
    }

    &__recom {
      padding: 135px 120px 70px 85px;

      &-title {
        color: $text;
        font-size: 27px;
        font-weight: 700;
        text-transform: uppercase;
        padding-bottom: 25px;
        margin-bottom: 20px;
        position: relative;
      }

      &-line {
        background: linear-gradient(to right, rgba(#898991, 1) 0%, rgba(#898991, 0) 100%);
        position: absolute;
        right: 15px;
        width: 570px;
        bottom: 0;
        height: 1px;
      }

      &-desc {
        font-size: 19px;
        font-weight: 300;
        line-height: 31px;
      }
    }
  }

  &-pages {
    padding: 70px 110px 220px 110px;
    position: relative;

    &__title {
      font-size: 60px;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 50px;
    }

    &__arrow {
      padding-left: 75px;
    }

    &__imgs {
      width: 1705px;
      height: 1158px;
      position: absolute;
      top: 95px;
      left: 325px;
    }
  }

  &-team {
    padding-top: 315px;
    padding-right: 100px;
    padding-left: 110px;

    &__title {
      color: $bg;
      font-size: 60px;
      font-weight: 500;
      line-height: 75px;
      text-transform: uppercase;
      margin-bottom: 70px;
    }

    &__img {
      opacity: .5;
      margin-bottom: 200px;
    }

    &__list {
      margin-left: -110px;
      display: flex;
      flex-wrap: wrap;
    }

    &__col {
      width: calc(100%/3);
      padding: 120px;
      padding-bottom: 110px;
      padding-top: 0;
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        width: 1px;
        top: 0;
        bottom: 0;
        background: linear-gradient(to bottom, rgba($bg, 0) 0%, rgba($bg, 0.3) 100%);
      }
      &:before {
        content: '';
        display: block;

        width: 5px;
        height: 5px;
        border: 1px solid rgba($bg, .2);
        position: absolute;
        right: -2px;
        top: 7px;

      }

      &:last-child {
        &:after, &:before {
          display: none;
        }
      }

      &:first-child {
        padding-left: 110px;
        .port-team__item:first-child {
          position: absolute;
          left: 110px;
          bottom: calc(100% + 40px);
        }
      }

    }

    &__item {
      color: $bg;
      font-size: 21px;
      margin-bottom: 45px;


      &:last-child {
        margin-bottom: 0;
      }

      &-title {
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 10px;
      }
    }
  }

  .bottom {
    background: none;
    padding-top: 130px;
  }
}