.rek {
  background: url("../images/bg/promoteBg.jpg") 0 0 no-repeat;
  background-size: cover;

  &-first {
    padding-top: 250px;
    padding-bottom: 200px;
    background: url(../images/bg/rekBg.jpg) 0 0 no-repeat;
    background-size: cover;
    overflow: hidden;
    @include xlg{
      padding-top: vh(200);
    };
    @include lg{
      padding-top: 100px;
    };
    @include md{
      padding-top: 80px;
      padding-bottom: 40px;
    };
    @include sm{
      padding: 50px 15px;
    };
    @include xs{
      padding: 30px 15px;
    };

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__bread {
      margin-bottom: 105px;
      @include xlg{
        margin-bottom: 30px;
      };
      @include sm{
        margin-bottom: 20px;
      };
    }

    &__title {
      font-size: 60px;
      font-weight: 300;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 30px;
      @include xlg{
        font-size: 50px;
        margin-bottom: 20px;
      };
      @include md{
        font-size: 42px;
        margin-bottom: 15px;
      };
      @include sm{
        font-size: 24px;
      };
    }

    &__subtitle {
      color: #a4a4a4;
      font-size: 33px;
      font-weight: 300;
      text-align: center;
      margin-bottom: 65px;
      @include xlg{
        font-size: 28px;
        margin-bottom: 30px;
      };
      @include md{
        font-size: 21px;
        margin-bottom: 15px;
      };
      @include sm{
        font-size: 17px;
      };
    }

    &__middle {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 55px;
      @include md{
        flex-wrap: nowrap;
        padding: 0 30px;
      };
      @include sm{
        padding: 0;
        margin-bottom: 25px;
      };
      @include xs{
        width: 100%;
        justify-content: space-around;
      };
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;

      &:hover {
        .rek-first__item-title {
          color: $Selective-yellow;
        }
        .rek-first__item-arrow {
          .arrow {

            &__line {
              width: 100%;
              height: 1px;
              background: linear-gradient(to right, rgba($text, 0) 0%, rgba($text, 1) 100%);
            }

            &__triangle {
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 5.5px 0 5.5px 7px;
              border-color: transparent transparent transparent rgba($text, 1);
            }
          }
        }
      }

      &-title {
        font-size: 24px;
        font-weight: 300;
        letter-spacing: -0.19px;
        margin-bottom: 14px;
        transition: .4s;
        @include sm{
          font-size: 17px;
          margin-bottom: 8px;
        };
      }

      &-arrow {
        width: 280px;
        margin-bottom: 10px;
        @include sm{
          width: 31vw;
        };
      }

      &-desc {
        display: flex;
        align-items: center;
      }
      &-svg {
        width: 29px;
        height: 29px;
        fill: $Selective-yellow;
        margin-right: 25px;
        &_2 {
          margin-right: 0;
          margin-left: 25px;
        }
      }

      &-text {
        font-weight: 300;
        line-height: 1;
      }
      &-val {
        font-size: 39px;
        @include sm{
          font-size: 19px;
        };
      }
      &-type {
        font-size: 31px;
        @include sm{
          font-size: 19px;
        };
      }
    }

    &__button {
      position: relative;

      &:after,&:before {
        content: '';
        display: block;
        position: absolute;
        width: 1px;
        left: 50%;
        background-color: rgba($text,.5);
      }

      &:before {
        height: 130px;
        bottom: 100%;
        @include md{
          height: 60px;
        };
      }
      &:after {
        height: 1000px;
        top: 100%;
      }

      &-squad {
        position: absolute;
        bottom: calc(100% + 130px);
        left: 50%;
        margin-left: -3px;
        width: 7px;
        height: 7px;
        border: 1px solid rgba($text,.5);
        @include md{
          bottom: calc(100% + 60px);
        };
      }

      .btn3 {
        width: 339px;
        height: 70px;
        @include md{
          height: 40px;
        };
        @include sm{
          width: auto;
          height: auto;
        };
      }
    }

    &__img {
      @include md{
        display: flex;
        justify-content: center;
        align-items: flex-start;
      };
      @include xs{
        display: none;
      };

      &-img {
        @include md {;
          width: 70%;
        }
        @include smd{
          width: 100%;
        };
      }
    }

  }

  &-desc {
    background-color: $text;
    padding-top: 100px;
    padding-bottom: 80px;
    padding-left: 110px;
    padding-right: 640px;
    position: relative;
    border-bottom: 1px solid #acadbf;

    @include xlg{
      padding: 60px 400px 40px 60px;
    };
    @include md{
      padding: 40px 400px 40px 50px;
    };
    @include sm{
      padding: 20px 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
    };

    &__title {
      color: $bg;
      font-size: 40px;
      text-transform: uppercase;
      margin-bottom: 60px;
      @include sm{
        font-size: 28px;
        text-align: center;
        margin-bottom: 20px;
      };
    }

    &__block {
      margin-bottom: 70px;
      @include sm{
        margin-bottom: 30px;
      };
    }

    &__content{
      color: $bg;
      @include sm{
        order: 1;
      };

      ul {
        li {
          color: #505050;
          margin-bottom: 5px;
        }
      }
    }

    &__button {
      width: 346px;
      height: 51px;
      border: 1px solid rgba($bg,.7);
      display: flex;
      align-items: center;
      justify-content: center;

      color: $bg;
      font-family: "Exo 2";
      font-size: 13px;
      font-weight: 500;
      text-transform: uppercase;
      @include sm{
        display: none;
      };
    }

    &__list {
      position: absolute;
      top: 220px;
      right: 0;
      width: 384px;
      @include sm {
        position: static;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: -10px;
        margin-right: -10px;
      };
    }

    &__item {
      padding: 55px 50px 55px 13px;
      border-bottom: 1px solid rgba($bg,.5);
      display: flex;
      align-items: center;
      @include sm{
        padding: 0;
        width: calc(50% - 20px);
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        border-bottom: none;
        flex-direction: column;
      };

      &:last-child {
        border-bottom: none;
      }

      &-img {
        margin-right: 30px;
        min-width: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        @include sm{
          margin-right: 0;
          margin-bottom: 10px;
          width: 40px;
        };
        @include xs{
          width: 30px;
        };
      }

      &-text {
        color: $bg;
        font-size: 19px;
        font-weight: 400;
        @include sm{
          font-size: 17px;
          text-align: center;
        };
        @include xs{
          font-size: 13px;
        };
      }
    }
  }

  &-slider {
    background-color: $text;
    padding: 80px 0;
    @include sm{
      padding: 30px 0;
    };
    @include xs{
      display: none;
    };

    &__title {
      color: $bg;
      font-size: 30px;
      text-transform: uppercase;
      margin-bottom: 65px;
      padding-left: 110px;
      @include sm{
        padding-left: 0;
        text-align: center;
        margin-bottom: 20px;
      };
    }
  }

  &-price {
    background-color: $text;
    padding-top: 20px;
    padding-bottom: 110px;
    @include xlg{
      padding-bottom: 60px;
    };
    @include sm{
      padding-bottom: 40px;
    };

    &__title {
      color: $bg;
      font-size: 36px;
      text-transform: uppercase;
      padding-left: 100px;
      margin-bottom: 30px;
      @include xlg{
        margin-bottom: 30px;
      };
      @include md{
        padding-left: 0;
        text-align: center;
        font-size: 32px;
      };
      @include sm{
        font-size: 28px;
        margin-bottom: 20px;
      };
    }

    &__switches {
      position: relative;
      margin-bottom: 30px;
      @include xlg{
        margin-bottom: 30px;
      };
      @include md{
        margin-bottom: 20px;
      };
      @include sm{
        margin-bottom: 10px;
      };

      &-list {
        display: flex;
        //flex-wrap: wrap;
        margin-bottom: 14px;
        justify-content: space-between;
        position: relative;
        @include md{
          margin-bottom: 10px;
        };
        @include sm{
          margin-bottom: 7px;
        };
      }
    }

    &__switch {
      color: #8c8c8c;
      font-size: 30px;
      font-weight: 400;
      transition: .3s;

      display: flex;
      justify-content: center;

      @include xlg{
        font-size: 24px;
      }
      @include md{
        font-size: 19px;
      };
      @include sm{
        font-size: 12px;
      };

      &:first-child {
        justify-content: flex-end;
        padding-left: 100px;
        @include xlg{
          padding-left: 50px;
        };
        @include sm{
          padding-left: 10px;
        };
      }
      &:last-child {
        justify-content: flex-start;
        padding-right: 100px;
        @include xlg{
          padding-right: 50px;
        };
        @include sm{
          padding-right: 10px;
        };
      }

      &.active {
        color: $bg;
      }
    }

    &__line {
      width: 100%;
      height: 2px;
      position: relative;
    }

    &__subline {
      position: absolute;
      height: 100%;
      width: 346px;
      left: 0;
      top: 0;
      background: $Selective-yellow;
      transition: .4s;
      @include xlg{
        width: 220px;
      };
      @include md{
        width: 190px;
      };
    }

    &__tab {
      display: none;
      &.active {
        display: block;
      }

      padding: 0 100px;
      @include xlg{
        padding: 0 50px;
      };
      @include sm{
        padding: 0 10px;
      };
    }

    &__row {
      display: flex;
      flex-wrap: wrap;
      margin-left: -15px;
      margin-right: -15px;
      position: relative;
      padding: 20px 0;

      @include xlg{
        padding: 20px 0;
      };
      @include md{
        padding: 15px 0;
      };
      @include sm{
        padding: 10px 0;
        margin-left: -10px;
        margin-right: -10px;
      };

      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: -15px;
        right: 15px;
        height: 1px;
        background: linear-gradient(to right, rgba($bg,0) 0%,rgba($bg,0.5) 30%,rgba($bg,0.5) 70%,rgba($bg,0) 100%);
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }

    &__item {
      width: calc(50% - 30px);
      margin-left: 15px;
      margin-right: 15px;
      @include sm{
        width: calc(50% - 20px);
        margin-left: 10px;
        margin-right: 10px;
      };

      &_bottom {
        align-self: flex-end;
      }

      &-title {
        color: $bg;
        font-size: 30px;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 50px;
      }

      &-price {
        color: #c70541;
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 10px;
        @include xlg{
          font-size: 32px;
          margin-bottom: 7px;
        };
        @include md{
          font-size: 24px;
        };
        @include sm{
          font-size: 17px;
        };
      }

      &-text {
        color: #505050;
        font-size: 21px;
        @include xlg{
          font-size: 19px;
        };
        @include md{
          font-size: 17px;
        };
        @include sm{
          font-size: 13px;
        };
      }

      &-li {
        font-size: 21px;
        margin-bottom: 15px;
        color: #505050;
        @include xlg{
          font-size: 19px;
          margin-bottom: 15px;
        };
        @include md{
          font-size: 17px;
          margin-bottom: 10px;
        };
        @include sm{
          font-size: 13px;
          margin-bottom: 8px;
        };

        b {
          font-weight: 500;
          color: #c70541;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__price {
      color: #c70541;
      font-size: 70px;
      @include md{
        font-size: 42px;
      };
      @include sm{
        font-size: 24px;
      };
    }
  }

  &-bud {
    background: url("../images/bg/rekBudgetBg.jpg") 0 0 no-repeat;
    background-size: cover;
    padding: 110px;

    @include xlg{
      padding: 50px;
    };
    @include slg{
      padding: 30px 25px;
    };
    @include md{
      padding: 20px 15px;
    };
    @include sm{
      display: none;
    };

    &__title {
      font-size: 40px;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 50px;
      @include xlg{
        margin-bottom: 35px;
      };
      @include slg{
        font-size: 32px;
        margin-bottom: 25px;
      };
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      margin-left: -15px;
      margin-right: -15px;
      padding-bottom: 60px;
      margin-bottom: 60px;
      position: relative;
      @include xlg{
        padding-bottom: 30px;
        margin-bottom: 30px;
      };
      @include md{
        padding-bottom: 20px;
        margin-bottom: 20px;
      };


      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 30%, rgba(255, 255, 255, 0.2) 70%, rgba(255, 255, 255, 0) 100%);
      }

    }

    &__item {
      width: calc(25% - 30px);
      margin-left: 15px;
      margin-right: 15px;

      display: flex;
      flex-direction: column;
      align-items: center;

      &-title {
        color: $Selective-yellow;
        font-weight: 500;
        margin-bottom: 20px;
        @include md{
          margin-bottom: 14px;
        };
      }
      &-val {
        font-size: 50px;
        @include xlg{
          font-size: 36px;
        };
        @include slg{
          font-size: 32px;
        };
        @include md{
          font-size: 28px;
        };
      }
      &-type {
        font-size: 35px;
        @include xlg{
          font-size: 28px;
        };
        @include slg{
          font-size: 25px;
        };
        @include md{
          font-size: 21px;
        };
      }

      &-text {
        color: rgba($text,.6);
        font-size: 25px;
        font-weight: 300;
        line-height: lh(25px,27.14px);
        text-align: center;
        @include xlg{
          font-size: 20px;
        };
        @include slg{
          font-size: 18px;
        };
        @include md{
          font-size: 15px;
        };
      }
    }

    &__subtitle {
      color: $text;
      font-size: 30px;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 50px;
      @include xlg{
        font-size: 26px;
        margin-bottom: 35px;
      };
      @include slg {
        font-size: 24px;
      }
      @include md{
        margin-bottom: 25px;
      };
    }

    &__checks {
      display: flex;
      flex-wrap: wrap;
      margin-left: -15px;
      margin-right: -15px;
      margin-bottom: 100px;
      @include xlg{
        margin-bottom: 50px;
      };
    }

    &__check {
      width: calc(25% - 30px);
      margin-left: 15px;
      margin-right: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;

      &-check {
        width: 29px;
        height: 29px;
        border: 1px solid #363636;
        border-radius: 5px;
        background-color: $bg;
        margin-bottom: 25px;
        padding: 5px;

        &:after {
          //content: url("/images/icons/tick.svg");
        }
      }
      &-title {
        color: $text;
        font-size: 25px;
        font-weight: 300;
        line-height: lh(25px,29.99px);
        text-align: center;
        @include xlg{
          font-size: 20px;
        };
        @include slg{
          font-size: 18px;
        };
      }

      &-input{
        display: none;

        &:checked +.rek-bud__check-fake {
          display: block;
        }
      }

      &-fake {
        display: none;
      }
    }

    &__button {
      border: 1px solid rgba($text,.7);
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;

      color: $text;
      font-family: "Exo 2";
      font-size: 13px;
      font-weight: 500;
      text-transform: uppercase;
      padding: 14px 20px;
    }
  }

  .bottom {
    background: none;
    //padding-top: 120px;
  }
}

.subject {
  .rek {
    &-first {
      padding-bottom: 120px;
      &__subtitle {
        margin-bottom: 100px;
      }
      &__button {
        &:before {
          height: 75px;
        }

        &-squad {
          bottom: calc(100% + 75px);
        }
      }
    }
  }

  .site {
    &-dev {

      &__slide{
        &-img {
          //overflow: hidden;
        }
      }


      &__prev, &__next {
        position: absolute;
        width: 280px;
        top: 50%;
        margin-top: -30px;
        cursor: pointer;
        outline: none;
        padding: 25px 0;

        &-title {
          text-transform: uppercase;
          color: red;
          font-size: 16px;
          @include lg{
            font-size: 14px;
          };
          @include md{
            display: none;
          };
        }

        &:hover {
          .arrow_prev {
            .arrow__line {
              background: linear-gradient(to right, rgba($bg, 1) 0%, rgba($bg, 0) 100%)
            }
            .arrow_black {
              .arrow__triangle {
                border-color: transparent transparent transparent $bg !important;
              }
            }
          }

          &:hover{
            .site-dev__prev-title,.site-dev__next-title{
              color: $bg;
            }
          }

          .arrow {
            .arrow__line {
              background: linear-gradient(to right, rgba($bg, 0) 0%, rgba($bg, 1) 100%);
            }

            .arrow__triangle {
              border-color: transparent transparent transparent rgba($bg, 1) !important;
            }
          }
        }

      }

      &__prev {

        &-title {
          padding-left: 20px;
          text-align: left;
        }
      }

      &__next {
        &-title {
          padding-right: 20px;
          text-align: right;
        }
      }
    }
  }

}