.send {
  padding-left: 90px;
  padding-right: 90px;
  @include xlg{
    padding: 0;
  };

  &__title {
    font-size: 58px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: vh(30);
    text-align: center;
    @include lg{
      font-size: 46px;
    };
    @include sm{
      font-size: 24px;
    };
  }

  &__sub {
    opacity: 0.3;
    color: #cbcbcb;
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: vh(55);
    @include xlg{
      font-size: 24px;
    };
    @include lg{
      font-size: 21px;
      margin-bottom: 20px;
    };
    @include sm{
      font-size: 17px;
    };
  }

  &__form {
    margin-bottom: vh(135);
  }
}