.site {
  //margin-left: -325px;

  &-first {
    //padding-left: 325px;
    height: 100vh !important;
    background-image: url(../images/bg/siteFirst.jpg);
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
    }

    &__bread {
      margin-top: vh(230);
      margin-bottom: vh(185);
    }

    &__title {
      font-size: 60px;
      font-weight: 300;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: vh(60);
    }

    &__subtitle {
      color: #a4a4a4;
      font-size: 33px;
      font-weight: 300;
      line-height: 49.97px;
      text-align: center;
      margin-bottom: vh(80);
    }
  }

  &-middle {
    background-image: url(../images/bg/siteMiddle.jpg);
    background-position: 0 -1000px;
    background-repeat: no-repeat;
    background-size: cover;
    //padding-left: 325px;
  }
  
  &-dev {
    background-color: #000;
    background-image: url(../images/bg/devBG.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-top: 80px;
    //padding-bottom: 80px;

    &__logo {
      display: flex;
      justify-content: center;
      padding-bottom: 40px;
      margin-left: 160px;
      margin-right: 160px;
      margin-bottom: 30px;
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background: linear-gradient(to right, rgba($text,0) 0%,rgba($text,0.2) 30%,rgba($text,0.2) 70%,rgba($text,0) 100%);
      }

    }
    &__img {
      height: 102px;
      //width: 102px;
    }

    &__desc {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 160px;
      margin-bottom: 55px;



      &-item {
        text-align: center;
        line-height: 34.98px;

        &:last-child {
          min-height: 70px;
        }
      }

      &-name {
        font-size: 21px;
        font-weight: 500;
      }
      &-val {
        font-size: 21px;
        font-weight: 300;
      }
    }

    &__swiper {
      margin: 0 295px;
      position: relative;
      margin-bottom: 25px;


      &-wrap {
        background-image: url(../images/bg/devNote.png);
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }

    &__works {
      display: flex;
      justify-content: center;
      margin-bottom: 150px;
    }

    &__title {
      font-size: 40px;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 150px;
    }

    &__chart {
      padding-left: 300px;
      padding-right: 300px;
      margin-bottom: 170px;
    }

    &__list {
      background-image: url(../images/content/dev/devChart.png);
      background-position: 150px 0;
      background-repeat: no-repeat;
      background-size: contain;
      padding-bottom: 75px;
      padding-top: 310px;
      margin-top: -330px;
      position: relative;

      &:after {
        content: '';
        display: block;
        width: 1px;
        position: absolute;
        top: 340px;
        bottom: 100px;
        left: 50px;
        background: rgba($text,.2);
      }
    }

    &__item {
      display: flex;
      align-items: center;
      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 0;
      }

      &-day {
        width: 67%;
        color: rgba($text,.5);
        font-size: 19px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

        &:after {
          content: '';
          width: 90%;
          height: 1px;
          margin-left: -5px;
          margin-bottom: 5px;
          background: linear-gradient(to right, rgba($text, 0.1) 0%, rgba($text, 0.3  ) 100%);
        }
      }

      &-desc{
        width: calc(23.9% - 30px);
        margin-right: 15px;
        margin-left: 15px;
        font-size: 19px;
        font-weight: 500;
        line-height: 27.13px;
        text-align: center;
      }

      &-arrow {
        flex-grow: 1;
      }
    }

    &__container {
      position: absolute;
      top: 5.5%;
      left: 12.5%;
      right: 12.5%;
    }

    &__slide {
      &-img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow-y: auto;

        &::-webkit-scrollbar{
          width: 10px;
        }

        &::-webkit-scrollbar-track {
          background-color: rgba($text,.3);
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 5px;
          background-color: rgba($Selective-yellow,.5);
        }

      }
      iframe{
        width: 100%;
        height: 100%;
        border: none;
      }
    }

    &__prev, &__next {
      position: absolute;
      width: 280px;
      top: 50%;
      margin-top: -30px;
      cursor: pointer;
      outline: none;
      padding: 25px 0;

      &:hover {
        .seporator_prev {
          .seporator__line {
            background: linear-gradient(to right, rgba($text, 1) 0%, rgba($text, 0) 100%)
          }
          .seporator__triangle {
            border-width: 5.5px 7px 5.5px 0px;
            border-color: transparent rgba($text, 1) transparent transparent;
          }
        }

        .seporator__line {
          background: linear-gradient(to right, rgba($text, 0) 0%, rgba($text, 1) 100%);
        }
        .seporator__triangle {
          border-color: transparent transparent transparent rgba($text, 1);
        }
      }



    }
    &__prev {
      left: -17.5%;
    }
    &__next {
      right: -17.5%;
    }

  }

  &-team {
    background: #000 url("../images/bg/teamBg.png") center center no-repeat;
    background-size: cover;
    padding-top: 120px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      font-size: 40px;
      text-transform: uppercase;
      margin-bottom: 70px;
    }

    &__name, &__text {
      opacity: 0.5;
      font-weight: 300;
      font-size: 35px;
      line-height: 41.3px;
    }
    &__text {
      font-size: 30px;
      margin-bottom: 70px;
    }
  }

  &-cost {
    padding: 100px 235px 100px 210px;
    background: url("../images/bg/costBg.jpg") 0 0  no-repeat;
    background-size: cover;

    &__title {
      font-size: 40px;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 50px;
    }

    &__sub {
      opacity: 0.5;
      font-size: 30px;
      font-weight: 300;
      line-height: 45.08px;
      text-align: center;
      margin-bottom: 60px;
    }

    &__tabs {
      margin-bottom: 65px;
    }
    &__tab {
      display: none;
      &.active {
        display: block;
      }
    }

    &__switches {
      padding-top: 60px;
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: -170px;
        right: -195px;
        height: 1px;
        background: linear-gradient(to right, rgba($text,0) 0%,rgba($text,0.2) 30%,rgba($text,0.2) 70%,rgba($text,0) 100%);
      }

      &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
    &__line {
      width: 100%;
      position: relative;
      height: 3px;
      background-color: rgba($text,.2);
      margin-bottom: 20px;
    }
    &__subline {
      position: absolute;
      left: 0%;
      top: 0;
      width: 118px;
      height: 3px;
      background-color: $Selective-yellow;
      border-radius: 3px;
      transition: .4s;
    }
    &__switch {
      font-family: "Exo 2";
      text-align: left;
      &.active {
        .site-cost__switch-title {
          color: $text;
        }
      }

      &-num {
        font-size: 19px;
        font-weight: 300;
        color: $Selective-yellow;
      }
      &-title {
        color: #777777;
        font-size: 19px;
        font-weight: 300;
      }
    }
  }
}

.banner {
  background-image: url(../images/bg/bannerBg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 348px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;

  &__title {
    font-size: 57px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    font-size: 35px;
    font-weight: 200;
    line-height: 45px;
    text-align: center;
    margin-bottom: 30px;

    b {
      font-weight: 700;
    }
  }

  &__button {
    width: 206px;
    height: 60px;
    border: 1px solid rgba($text,.7);
    display: flex;
    align-items: center;
    justify-content: center;
    color: $text;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.67px;
    font-family: "Exo 2";
  }
}
