.testing {
  height: 100%;
  background-image: none;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;

  &.active {
    background-image: url("../images/bg/testBg.jpg");
  }

  .container3 {
    height: 100%;
    position: relative;
  }

  &-start {
    padding-top: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    //height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 250px;
    opacity: 0;
    visibility: hidden;
    transition: .4s;

    &.active {
      opacity: 1;
      visibility: visible;
    }

    &__title {
      display: flex;
      align-items: center;
      margin-bottom: 60px;
    }

    &__percents {
      color: $Selective-yellow;
      display: flex;
      align-items: flex-start;


      &-val {
        font-size: 289px;
        font-weight: 100;
        letter-spacing: -1.87px;
        line-height: 0.75;
      }

      &-type {
        font-size: 63px;
        font-weight: 300;
        text-transform: uppercase;

      }
    }

    &__subtitle {
      opacity: 0.5;
      color: $text;
      font-size: 25px;
      font-weight: 300;
      line-height: 40.13px;
      text-transform: uppercase;
      letter-spacing: 0.93px;
      text-align: center;
      margin-bottom: 100px;
    }
  }

  &-slider {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: .4s;

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__form {
    width: 100%;
    height: 100%;
  }

  &__swiper,&__wrapper,.swiper-slide {
    height: 100%;
  }

  &__swiper {
    position: relative;
  }

  .swiper-slide {
    overflow: hidden;
  }

  &__number {
    width: 564px;
    height: 805px;
    position: absolute;
    z-index: 10;
    bottom: -290px;
    right: -40px;
    padding-top: 140px;
    text-align: center;

    color: $text;
    font-size: 378px;
    font-weight: 100;
    text-transform: uppercase;
    //background: url("../images/bg/testNumberBg.png") 0 0 no-repeat;
    //background-size: cover;

  }

  &__slide {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 260px;
    padding-left: 90px;
    transition: .4s;
    position: relative;
    z-index: 20;

    &-title {
      font-size: 50px;
      font-weight: 300;
      line-height: 65.08px;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: vh(40);
    }

    &-prev {
      margin-right: 20px;
    }
    &-next,&-prev {
      outline: none;
    }

    &-next, &-submit{
      &.disabled {
        pointer-events: none;
        opacity: .5;
      }
    }
  }

  &__fields {
    width: 100%;
    padding: 0 90px 0 180px;
    margin-bottom: vh(40);
    box-sizing: border-box;
  }

  &__row {
    padding: vh(40) 0;

    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-left: 40px;

    &:last-child {
      &:after {
        display: none;
      }
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      height: 1px;
      left: -100px;
      right: 0;
      bottom: 0;
      background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 30%,rgba(255,255,255,0.3) 70%,rgba(255,255,255,0) 100%);
    }
  }

  &__field {
    width: 50%;
    padding-right: 15px;
  }

  &__radio {

    &-input {
      display: none;

      &:checked + .testing__radio-label {
        color: $text;

        .testing__radio-fake {
          &:after {
            background: $Selective-yellow;
          }
        }
      }
    }

    &-label {
      color: rgba($text,.3);
      font-size: 30px;
      font-weight: 300;
      transition: .4s;

      display: flex;
      align-items: center;
    }

    &-fake {
       min-width: 20px;
       width: 20px;
      height: 20px;

      border: 1px solid rgba(#636363,.7);
      border-radius: 50%;
      order: -1;
      margin-right: 15px;
      padding: 5px;
      box-sizing: border-box;
      position: relative;

      &:after {
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        background: transparent;
        border-radius: 50%;
        transition: .4s;
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
  }

  &__pag {
    position: absolute;
    bottom: 40px;
    left: 90px;
    right: 260px;
    background: url("../images/bg/testPag.png") 0 0 repeat-x;
    padding-top: 28px;

    .swiper-pagination {
      height: 2px;
      background-color: #352b4d;
      width: 100%;

    }
    .swiper-pagination-progressbar-fill {
      background: $Selective-yellow;
    }

    &-bottom {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
    }

    &-percents {
      opacity: 0.3;
      font-size: 30px;
      font-weight: 300;
    }

    &-title {
      font-size: 30px;
      font-weight: 300;
    }
    &-perc {
      color: #ffb700;
      font-weight: 700;
    }
  }

  &__form2 {

    width: 1120px;

    .testing__fields {
      padding: 0 90px;
    }

    .testing__row {
      padding-left: 0;
      padding-top: 0;
    }
    .testing__field {
      width: 100%;
      padding: 0;
    }

    .testing__label {
      color: $Selective-yellow;
      font-size: 22px;
      font-weight: 300;
      text-transform: uppercase;
    }

    .input{
      max-width: 354px;
      margin-left: 30px;
    }
  }

  &__label {
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__input {

  }
}