.text {
  background: url("../images/bg/articleBg.jpg") 0 0 no-repeat;

  &-first {
    padding-top: 230px;
    padding-left: 90px;
    padding-right: 220px;
    padding-bottom: 55px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__bread {
      margin-bottom: 60px;
    }


    &__nav {
      width: 100%;
      display: flex;
      align-items: flex-start;
    }

    &__date {
      min-width: 150px;
      margin-right: 50px;
      position: relative;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        height: 1px;
        width: 240px;
        background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 50%,rgba(255,255,255,0.4) 50%,rgba(255,255,255,0) 100%);
        transform: rotate(-34deg);
      }
    }

    &__day {
      font-size: 77px;
      font-weight: 100;
      margin-bottom: 20px;
      line-height: 1;
    }

    &__month {
      color: $Selective-yellow;
      font-size: 41px;
      font-weight: 300;
      padding-left: 120px;
      line-height: 1;
    }

    &__desc {
      flex-grow: 1;
    }

    &__title {
      font-size: 57px;
      font-weight: 300;
      text-transform: uppercase;
      margin-bottom: 25px;
    }

    &__info {
      display: flex;
      align-items: center;
      font-size: 20px;
      margin-bottom: 40px;
    }

    &__thematic {
      color: #c70541;
      margin-right: 20px;
    }

    &__view {
      color: $Selective-yellow;
      display: flex;
      align-items: center;
      margin-right: 25px;

      &-svg {
        width: 17px;
        height: 11px;
        fill: $text;
        margin-right: 5px;
      }
    }

    &__time {
      color: $Selective-yellow;
      display: flex;
      align-items: center;
      margin-right: 20px;

      &-svg {
        width: 13px;
        height: 13px;
        fill: $text;
        margin-right: 5px;
      }
    }

    &__comment {
      color: $Selective-yellow;
      display: flex;
      align-items: center;

      &-svg {
        width: 16px;
        height: 13px;
        fill: $text;
        margin-right: 5px;
      }
    }

    &__arrows {
      display: flex;
      justify-content: space-between;
    }

    &__arrow {
      padding: 10px 0;
      width: 220px;
    }
  }

  &-desc {
    background: $text;
    padding: 110px 100px 100px 110px;

    &__row {
      display: flex;
      flex-wrap: wrap;
      margin-left: -40px;
      margin-right: -40px;
    }

    &__left {
      width: calc(64% - 80px);
      margin-left: 40px;
      margin-right: 40px;
    }

    &__bottom {
      margin-top: 100px;
      width: calc(100% - 80px);
      margin-left: 40px;
      margin-right: 40px;
    }

    &__content {
      color: #505050;

      a {
        color: #c70541;
        text-decoration: underline;
      }

      h3 {
        color: $bg;
      }

    }

    &__social {
      display: flex;
      align-items: center;
      margin-right: 25px;

      &:last-child {
        margin-right: 0;
      }

      &-svg {
        width: 31px;
        height: 22px;
        fill: $bg;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 8px;
      }

      &-count {
        opacity: 0.5;
        color: $bg;
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
      }
    }

    &__right {
      width: calc(36% - 80px);
      margin-left: 40px;
      margin-right: 40px;

      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__slider {
      margin-bottom: 85px;
      width: 100%;
    }

    &__swiper {
      width: 100%;
      margin-bottom: 35px;
    }

    &__slide {
      padding: 5px;
      padding-bottom: 15px;
      box-sizing: border-box;

      &-img {
        position: absolute;
        top: 5px;
        bottom: 15px;
        left: 5px;
        right: 5px;

        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 8px 20px -5px rgba(0, 0, 0, 0.6);
        display: flex;
        align-items: center;
      }
    }

    &__arrows {
      display: flex;
      justify-content: center;
    }
    &__prev, &__next {
      width: 110px;
      cursor: pointer;
      padding: 10px 0;
      outline: none;
    }
    &__prev {
      margin-right: 20px;
    }

  }

  .bottom {
    background: none;
    padding-top: 150px;
  }
}


