.why {

  &__img {
    text-align: right;
    margin-right: -253px;
    margin-bottom: vh(85);
  }

  &__title {
    font-size: 57px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: vh(50);
  }

  &__content {
    padding-right: 70px;
    //display: flex;
    //flex-direction: column;
    //align-items: center;

    p {
      opacity: 0.3;
      line-height: 25px;
      text-align: center;
      margin-bottom: vh(30);

      &:last-child {
        margin-bottom: 0;
      }
    }

    h2 {
      font-size: 38px;
      text-transform: uppercase;
      text-align: center;
      margin: 40px 0;
      font-weight: 300;
    }

    h3 {
      font-size: 24px;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: vh(15);
      font-weight: 300;
    }

    ul {
      opacity: 0.3;
      margin-bottom: vh(30);

      li {
        font-size: 17px;
        font-weight: 400;
        margin-bottom: 20px;
        padding-left: 40px;
        position: relative;

        &:before {
          content: '';
          display: block;
          width: 13px;
          height: 1px;
          position: absolute;
          left: 0;
          top: 9px;
          background: $Selective-yellow;
        }

        &:last-child {
          margin-bottom: 0;
        }


        ul {
          padding-top: 20px;
          li {
            padding-left: 20px;

            &:before {
              content: '';
              display: block;
              width: 6px;
              height: 6px;
              border: 1px solid $Selective-yellow;
              border-radius: 50%;
              position: absolute;
              left: 0;
              top: 6px;
              background-color: transparent;
            }
          }
        }
      }
    }

    ol {
      opacity: .3;
      margin-bottom: vh(30);
      padding-left: 25px;
      li {
        font-size: 17px;
        font-weight: 400;
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}