.work {


  &__title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: vh(140);

    &-img {
      margin-right: 30px;
    }

    &-text {
      font-size: 57px;
      font-weight: 300;
      line-height: 64.2px;
      text-transform: uppercase;
      &_yellow {
        color: $Selective-yellow;
      }
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin-right: -60px;
    margin-left: -60px;
  }

  &__item {
    width: calc(100%/3);
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 1px;
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.2) 80%,rgba(255,255,255,0.2) 100%);
    }

    &:last-child {
      &:after {
        display: none;
      }
    }

    &-img {
      height: 40px;
      display: flex;
      align-items: center;
      margin-bottom: vh(40);
    }

    &-text {
      opacity: 0.5;
      font-size: 19px;
      font-weight: 300;
      line-height: 27.47px;
      text-align: center;
    }
  }
}